<!DOCTYPE html>
<html lang="en-au" xml:lang="en-au">

<head>
    <meta charset="utf-8">
    <title>Shopping Bag | Hockerty</title>
    <meta name="description" content="Buy custom made clothing in Hockerty: easy, fast and affordable" />
    <meta name="keywords" content="Shopping Bag, shopping bag, hockerty, custom clothing, custom suits, custom dress shirts" />
    <!--[if gte IE 9]><meta http-equiv="x-ua-compatible" content="IE=edge" /><![endif]-->
    <!--[if lt IE 9]><meta http-equiv="x-ua-compatible" content="IE=6,7,8" /><![endif]-->
    <!--[if lt IE 9]><meta name="viewport" content="width=device-width, initial-scale=1.0"><![endif]-->
    <meta http-equiv="content-language" content="en" />

    <!-- <meta name="apple-mobile-web-app-title" content="hockerty">
    <meta name="application-name" content="hockerty">
    <meta name="msapplication-TileColor" content="#fafafa">
    <meta name="theme-color" content="#fafafa">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fafafa">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="32x32" href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/apple-touch-icon.png">
    <link rel="preconnect" href="//d2w9m16hs9jc37.cloudfront.net">
    <link rel="preconnect" href="//d1fufvy4xao6k9.cloudfront.net">
    <link rel="preconnect" href="//www.googletagmanager.com">
    <link rel="alternate" hreflang="de-at" href="https://www.hockerty.at/de-at/checkout/cart" />
    <link rel="alternate" hreflang="de-ch" href="https://www.hockerty.ch/de-ch/checkout/cart" />
    <link rel="alternate" hreflang="de" href="https://www.hockerty.de/de/checkout/cart" />
    <link rel="alternate" hreflang="en-us" href="https://www.hockerty.com/en-us/checkout/cart" />
    <link rel="alternate" hreflang="en-gb" href="https://www.hockerty.uk/en-uk/checkout/cart" />
    <link rel="alternate" hreflang="en-ie" href="https://www.hockerty.com/en-ie/checkout/cart" />
    <link rel="alternate" hreflang="en-ch" href="https://www.hockerty.ch/en-ch/checkout/cart" />
    <link rel="alternate" hreflang="en-ca" href="https://www.hockerty.com/en-ca/checkout/cart" />
    <link rel="alternate" hreflang="en-au" href="https://www.hockerty.com/en-au/checkout/cart" />
    <link rel="alternate" hreflang="en" href="https://www.hockerty.com/en/checkout/cart" />
    <link rel="alternate" hreflang="es-us" href="https://www.hockerty.com/es-us/checkout/cart" />
    <link rel="alternate" hreflang="es-mx" href="https://www.hockerty.com/es-mx/checkout/cart" />
    <link rel="alternate" hreflang="es" href="https://www.hockerty.es/es/checkout/cart" />
    <link rel="alternate" hreflang="fr-be" href="https://www.hockerty.com/fr-be/checkout/cart" />
    <link rel="alternate" hreflang="fr-ca" href="https://www.hockerty.com/fr-ca/checkout/cart" />
    <link rel="alternate" hreflang="fr-ch" href="https://www.hockerty.ch/fr-ch/checkout/cart" />
    <link rel="alternate" hreflang="fr" href="https://www.hockerty.fr/fr/checkout/cart" />
    <link rel="alternate" hreflang="it-ch" href="https://www.hockerty.ch/it-ch/checkout/cart" />
    <link rel="alternate" hreflang="it" href="https://www.hockerty.it/it/checkout/cart" />
    <link rel="alternate" hreflang="ru" href="https://www.hockerty.ru/ru/checkout/cart" /> -->
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="/css/default.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/css/checkout/cross_selling_products.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/css/checkout/main.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/bower_components/fontawesome-free-5.9.0-web/css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--[if lt IE 9]>
<script src="https://d2w9m16hs9jc37.cloudfront.net/js/html5shiv.js"></script>
<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<script src="https://d2w9m16hs9jc37.cloudfront.net/js/css3-mediaqueries.min.js"></script>
<![endif]-->
    <meta property="og:url" content="https://www.hockerty.com/en-au/checkout/cart" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://d1fufvy4xao6k9.cloudfront.net/images/share/hockerty.jpg" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:site_name" content="Hockerty" />
    <meta property="fb:app_id" content="1012420945555828">


    <!-- <script type="text/javascript">
        !function () { function e() { if (void 0 !== window._sw2) return window._sw2; if (!window.FontFace) return window._sw2 = !1; var e = new FontFace("t", 'url("data:application/font-woff2,") format("woff2")', {}); return e.load(), window._sw2 = "loading" === e.status } function t(e) { document.documentElement.className += " " + e } var n = navigator.userAgent, o = !window.addEventListener || n.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/) && !n.match(/Chrome/); window.loadScript = function (e, t, n) { if ("object" != typeof e) { t || (t = "https://d2w9m16hs9jc37.cloudfront.net/js/" + e), t += "?v=" + cdn_version_js; var a = document.createElement("script"); if (a.type = "text/javascript", o) a.src = t, document.body.appendChild(a), "function" == typeof n && n(e); else { var s = {}; try { s = localStorage || {} } catch (e) { } var c = "x-js-" + e, r = c + "-url", d = c + "-data", l = s[r], i = s[d]; if (i && l === t) { try { a.appendChild(document.createTextNode(i)) } catch (e) { a.text = i } document.body.appendChild(a), "function" == typeof n && n(e) } else { var f = new XMLHttpRequest; f.open("GET", t), f.onload = function () { if (200 == f.status) { try { s[r] = t, s[d] = f.responseText } catch (e) { } try { a.appendChild(document.createTextNode(f.responseText)) } catch (e) { a.text = f.responseText } document.body.appendChild(a) } "function" == typeof n && n(e) }, f.send() } } } else for (var p in e) loadScript(e[p], null, n) }, window.loadStylesheet = function (n, a) { if ("object" != typeof n) { a || (a = "https://d2w9m16hs9jc37.cloudfront.net/css/" + n), a += "?v=" + cdn_version_css; var s = "css-" + n.replace(".css", "").replace("/", "-"); if (o) { var c = document.createElement("link"); return c.type = "text/css", c.rel = "stylesheet", c.href = a, document.head.appendChild(c), void t(s) } var r = a.indexOf("/css/fonts/") > -1; r && (a = a.replace("/css/fonts/", "/en/services/font/").replace(".css", "/woff")); var d = {}; try { d = localStorage || {} } catch (e) { } var l = "x-css-" + n, i = l + "-url", f = l + "-css", p = d[i], u = d[f], h = document.createElement("style"); if (h.rel = "stylesheet", document.head.appendChild(h), u && p === a) h.styleSheet ? h.styleSheet.cssText = u : h.appendChild(document.createTextNode(u)), t(s); else { var w = a; r && e() && (w = w.replace("woff", "woff2")); var y = new XMLHttpRequest; y.open("GET", w), y.onload = function () { if (200 == y.status) { var e = y.responseText; h.styleSheet ? h.styleSheet.cssText = e : h.appendChild(document.createTextNode(e)); try { d[i] = a, d[f] = e } catch (e) { } t(s) } }, y.send() } } else for (var v in n) loadStylesheet(n[v], null) }, window.loadFont = function (e) { loadStylesheet("fonts/" + e + ".css") } }();
        var cdn_version_css = "1559542680"; var cdn_version_js = "1559542680"; loadFont('lato'); loadFont('nc-nav'); </script> -->
</head>

<body class="man  body_cart body_en ">
    <script type="text/javascript">
        var total_price = 0;
        var total_cart = 0;
        var ship_fee = 15;
        var cart = <%- JSON.stringify(carts)%>;

        var region_url = '/en-au/';
        // var cdn_host = 'https://d2w9m16hs9jc37.cloudfront.net/';
        var backoffice_store = 0;
        var currency = 'AUD';
        var currency_json = { "iso": "AUD", "symbol": "$" };
        var ready_callbacks = [];
        var ga_callbacks = [];
        // var scripts_to_load = ["default.js", "owl\/owl.carousel.js", "bundle\/main.js", "owl\/owl.carousel.js", "checkout\/cross_selling_products.js", "ouibounce.min.js", "checkout.js"];
        var mobile_enabled = false;
        var tablet_enabled = false;
        var dataLayer = [{ "cart_version": "cart_v2", "cart_products_types": "man_suit2,man_suit2,man_jacket,man_suit2", "voucher_code": null, "contentGroup1": "Cart", "contentGroup2": "Cart", "region": "en-au", "lang": "en", "currency": { "iso": "AUD", "symbol": "$" }, "length_units": "cm", "weigth_units": "kg", "gender": "man", "menu_item": "checkout_cart", "isAdmin": false, "mobile_device": false, "tablet_device": false, "mobile_ready": true, "mobile_enabled": false, "customer_logged": 0, "swiss_site": 0, "cart_n_products": 4, "cart_price": 2591, "device_type": "desktop" }];
    </script>
    <!-- <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WQMRNX" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-WQMRNX');</script> -->

    <div id="body_height" class=" ">
        <!--googleoff: all-->
        <!--DESKTOP-->
        <!--HEADER-->
        <!--TOOLBAR-->
        <div id="lang_selector">
            <div class="regions_popup">
                <div class="background">&nbsp;</div>
                <div id="language_selector" data-domain="" class="language_selector  min">
                    <a class="close">v</a> </div>
            </div>
        </div>
        <div id="toolbar" class="">
            <div class="container_margins">
                <div class="left">
                    <a class="logo_toolbar" href="/en-au/">
                        <img alt="Hockerty" src="https://d2w9m16hs9jc37.cloudfront.net/images/logos/symbol_hockerty.svg"
                            width="28" height="28" class="small">
                        <img alt="Hockerty" src="https://d2w9m16hs9jc37.cloudfront.net/images/logos/logo_hockerty.svg"
                            width="129" height="30" />
                    </a>


                    <li class="menu_man_suit main man product first  title " rel="man_suit">
                        <a href="/en-au/men/custom-suits/" class="title dropdown">
                            <span>Suits</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_suit subnav_titles " href="/en-au/men/custom-suits/personalize">DESIGN
                                    YOUR SUIT</a></li>
                            <li class="psl"><a class="menu_man_smoking subnav_titles " href="/en-au/men/custom-tuxedos/personalize">Design
                                    your tuxedo</a></li>
                            <li class="split"></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/suits/spring-summer/">Spring
                                    - Summer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/suits/business-suits/">Business
                                    Suits</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/suits/premium-suits/">Premium
                                    Suits</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/suits/doublebreasted-suits/">Double-breasted
                                    Suits</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/tuxedos/party-tuxedos/">Party
                                    Tuxedos</a></li>
                            <li rel=""><a class="subnav_titles new" rel="configure" href="/en-au/men/suits/new-arrivals/">New
                                    Arrivals<span class="new">NEW</span></a></li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_man_shirt main man product   title " rel="man_shirt">
                        <a href="/en-au/men/custom-dress-shirts/" class="title dropdown">
                            <span>Dress Shirts</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_shirt subnav_titles " href="/en-au/men/custom-dress-shirts/personalize">DESIGN
                                    YOUR SHIRT</a></li>
                            <li class="split"></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/shirts/spring-summer/">Spring
                                    - Summer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/shirts/business-shirts/">Business
                                    Dress Shirts</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/shirts/casual-shirts/">Casual
                                    Shirts</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/shirts/linen-shirts-collection/">Linen
                                    Shirts Collection</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/shirts/essential-dress-shirts/">Essential
                                    Shirts</a></li>
                            <li rel=""><a class="subnav_titles new" rel="configure" href="/en-au/men/shirts/new-arrivals/">New
                                    Arrivals<span class="new">NEW</span></a></li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_outerwear main man product   title " rel="outerwear">
                        <a href="/en-au/men/outerwear/" class="title dropdown">
                            <span>Outerwear</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_coat subnav_titles " href="/en-au/men/custom-coats/">Design
                                    your coat</a></li>
                            <li class="psl"><a class="menu_man_trenchcoat subnav_titles " href="/en-au/men/trench-coat/configure">Design
                                    your Trench Coat</a></li>
                            <li class="psl"><a class="menu_winter_blazers_landing subnav_titles " href="/en-au/men/custom-winter-blazers/">Design
                                    your Winter Blazer</a></li>
                            <li class="split"></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/coats/new-coats/">New
                                    Coats 2019</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/coats/business-coats/">Business
                                    Coats</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/coats/casual-coats/">Casual
                                    Coats</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/coats/essential-coats/">Essential
                                    Coats</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/coats/selected-winter-coats/">Selected
                                    Winter Coats</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/trench-coats/new-trench-coats/">New
                                    Trench Coats</a></li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_man_jacket main man product   title " rel="man_jacket">
                        <a href="/en-au/men/custom-jackets/" class="title dropdown">
                            <span>Jackets</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_jacket subnav_titles " href="/en-au/men/custom-jackets/personalize">Design
                                    your Blazer</a></li>
                            <li class="split"></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/blazers/spring-summer/">Spring/Summer
                                    Blazer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/blazers/business-blazers/">Business
                                    Blazer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/blazers/casual-blazers/">Casual
                                    Blazer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/blazers/unlined-blazer/">Unlined
                                    Blazer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/blazers/party-blazers/">Party
                                    Blazer</a></li>
                            <li rel=""><a class="subnav_titles new" rel="configure" href="/en-au/men/blazers/new-arrivals/">New
                                    Arrivals<span class="new">NEW</span></a></li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_man_pants main man product   title " rel="man_pants">
                        <a href="/en-au/men/custom-pants/" class="title dropdown">
                            <span>Pants</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_pants subnav_titles " href="/en-au/men/custom-pants/personalize">Design
                                    your pants</a></li>
                            <li class="psl"><a class="menu_man_pants_chinos_personalize_2 subnav_titles " href="/en-au/men/custom-chinos/">Design
                                    Chinos</a></li>
                            <li class="split"></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/pants/dress-trousers/">Dress
                                    Trousers</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/pants/casual-business/">Casual
                                    Business</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/pants/chinos/">Chinos</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/pants/spring-summer/">Spring
                                    - Summer</a></li>
                            <li rel=""><a class="subnav_titles new" rel="configure" href="/en-au/men/pants/new-arrivals/">New
                                    Arrivals<span class="new">NEW</span></a></li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_man_wedding main man product   title " rel="man_wedding">
                        <a href="/en-au/men/wedding-suits/" class="title dropdown">
                            <span>Ceremonial</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_wedding_suit subnav_titles " href="/en-au/men/wedding-suit/">Wedding
                                    Suits</a></li>
                            <li class="psl"><a class="menu_man_smoking subnav_titles " href="/en-au/men/custom-tuxedos/">Tuxedo
                                    Suits</a></li>
                            <li class="psl"><a class="menu_man_chaque subnav_titles " href="/en-au/men/morning-coat/">Morning
                                    coat</a></li>
                            <li class="psl"><a class="menu_man_levita subnav_titles " href="/en-au/men/frock-coat/">Frock
                                    coat</a></li>
                            <li class="psl"><a class="menu_man_frac subnav_titles " href="/en-au/men/tailcoats/">Tail
                                    Coat</a></li>
                            <li class="psl"><a class="menu_url_bigorders subnav_titles " href="/en-au/men/big-orders/">Big
                                    Orders</a></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/tuxedos/tuxedo-suits/">Tuxedo
                                    Suits</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/morning-coats/morning-coats/">Morning
                                    Coats</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/suits/wedding-suits/">Wedding
                                    Suits</a></li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_other main man product  last title " rel="other">
                        <a href="javascript:;" class="title dropdown">
                            <span>Other</span></a>
                        <ul class="subnav simple">
                            <li class=""><a class="menu_man_waistcoat subnav_titles " href="/en-au/men/custom-waistcoats/">Waistcoats</a></li>
                            <li class=""><a class="menu_man_polo subnav_titles " href="/en-au/men/custom-polo-shirts/">Polo
                                    shirts</a></li>
                            <li class="psl"><a class="menu_winter_blazers_landing subnav_titles " href="/en-au/men/custom-winter-blazers/">Winter
                                    Blazers</a></li>
                            <li class="split split2"></li>
                            <li class=""><a class="menu_man_accessories subnav_titles " href="/en-au/men/accessories/">Accessories</a></li>
                            <li class=""><a class="menu_man_gifts subnav_titles " href="/en-au/men/gifts/">Gifts</a></li>
                            <li class="split split2"></li>
                            <li class=""><a class="menu_fabrics subnav_titles " href="/en-au/fabrics-collection/">FABRIC
                                    SAMPLES SERVICE</a></li>
                        </ul>
                    </li>
                </div>

                <div class="right">
                    <a class="sumissura" href="https://www.sumissura.com/en-au/" title="Go to women's site" target="_blank">
                        <img src="https://d2w9m16hs9jc37.cloudfront.net/images/logos/logo_sumi.svg" onerror="this.src='https://d2w9m16hs9jc37.cloudfront.net/images/logos/logo_sumi.png'"
                            width="70" height="10">
                        WOMEN
                    </a>
                    <div class="sep"></div>
                    <div class="how_it_works">

                        <a class="" id="cart-trigger" href="javascript:;" rel="nofollow">
                            <div class="icon"></div>
                        </a>
                        <div id="howitworks_hover" class=" min">
                            <div class="toolbar_login">
                                <script type="text/html" id="header_logged">
        <ul class="login">
        <div class="title">
            <div class="first">Welcome, <span>"customer.fullname"</span></div>
            <div class="subtitle">Access to your personal area:</div>
        </div>
        <li><span rel="/en-au/customer/orders/pending" class="ds_link">Pending Carts</span></li>
        <li><span rel="/en-au/customer/orders" class="ds_link">Order History</span></li>
        <li><span rel="/en-au/customer/profiles"
                  class="ds_link">Measurement profiles</span></li>
        <li ><span rel="/en-au/customer/incidents"
         class="ds_link">Support tickets</span>
        </li>
        <li><span rel="/en-au/customer/personal" class="ds_link">Account info</span></li>
    </ul>
    </script>
                                <script type="text/html" id="header_login">
    <div class="form">
        <form class="form_sign_in" method="post" action="/en-au/customer/sign_in">
            <input type="hidden" name="action" value="login"/>
            <div class="intro">Access your account</div>
            <div class="control"><input type="text" name="email" autocomplete="email"
                                        placeholder="E-mail"
                                        class="text requried email"/></div>
            <div class="control"><input type="password" name="password" autocomplete="password"
                                        placeholder="Password" class="text required"/></div>
            <div class="actions">
                <input type="submit" class="submit" value="Login"/>
                <div class="lost"><a href="#form_pwd_lost" class="pwd_lost"
                                     rel="nofollow">Forgot your password?</a></div>
            </div>
        </form>
        <form method="post" class="form_pwd_lost" action="/en-au/customer/sign_in">
            <input type="hidden" name="action" value="recover"/>
            <p class="instructions">
                <b>If you forgot your password</b>, enter your e-mail and we will send you a message with the instructions to reset your password.</p>
            <div class="control"><input type="text" class="text required email" name="email" autocomplete="email"
                                        placeholder="E-mail"/></div>
            <div class="actions">
                <div class="lost"><a href="#form_sign_in" class="pwd_lost sign_in"
                                     rel="nofollow">Go back</a></div>
                <input type="submit" class="submit"/>
            </div>
        </form>
        <div class="social_buttons" >
            <div class="title"></div>
            <a href="https://www.hockerty.com/en-au/customer/login/facebook" class="social little facebook"
                     rel="nofollow"></a> &nbsp;
                <a href="https://www.hockerty.com/en-au/customer/login/google" class="social little google"
                   rel="nofollow"></a>
                &nbsp; <a href="https://www.hockerty.com/en-au/customer/login/linkedin"
                          class="social little linkedin" rel="nofollow"></a>            <div class="create_account"><a href="https://www.hockerty.com/en-au/customer/sign_in?step=register"
                                           rel="nofollow">CREATE ACCOUNT</a></div>
        </div>
    </div>
</script>
                            </div>
                            <div class="information">
                                <span class="title"><b>Information</b></span>
                                <ul class="en">
                                    <li><span rel="/en-au/info/how-it-works/" class="ds_link">How it works</span></li>
                                    <li><span rel="/en-au/info/why-customize/" class="ds_link">Why custom</span></li>
                                    <li><span rel="/en-au/info/perfect-fit/" class="ds_link">Perfect Fit Guarantee</span></li>
                                    <li><span rel="/en-au/info/making-of/" class="ds_link">HOW IT IS MADE</span></li>
                                    <li><span rel="/en-au/info/our-fabrics/" class="ds_link">Our fabrics</span></li>
                                    <li><span rel="/en-au/info/aboutus/" class="ds_link">About us</span></li>
                                    <li><span rel="/en-au/info/contact/" class="ds_link">Contact us</span></li>
                                    <li class="separator">&nbsp;</li>
                                    <li><span rel="javascript:;" class="ds_link" rel="nofollow" id="change_region_link">Change
                                            country</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sep"></div>

                    <div id="mini_cart_container" class="cart_shopping">
                        <a class="" id="cart-trigger" href="/en-au/checkout/cart">
                            <div class="bag"></div>
                            <div class="shopping_bag">Shopping Bag</div>
                        </a>
                    </div>

                    <script type="text/html" id="mini_cart_tmpl">
                <ul class="cart">
                    <li>
                        <div class="slider_product">

                            <span class="pay ds_link"
                                  rel="/en-au/checkout/measures"><span>continue</span></span>
                        </div>
                    </li>
                </ul>
            </script>
                </div>
            </div>
        </div>
        <div id="white_layer"></div>
        <!--TOOLBAR-->


        <!--googleon: all-->
        <div id="body" class="checkout_cart">

            <style>
                .voucher .add_code_input { display: block; }
   .banner_cart_black_friday .black_friday_rest .diff { display: inline-block; font-weight: bold; }
   .banner_cart_black_friday .black_friday_rest  { padding: 0; font-size: 17px; margin-top: 14px; font-weight: 300; overflow: visible; line-height: 21px; }
   </style>
            <div class="body_box general_container">
                <div class="cart_header floating_container desktop_only">
                    <div class="floating left title">Shopping Bag</div>
                </div>
                <% if(carts.length > 0) { %>
                    <div class="products_list">
                            <table>
                                <% for(let i=0; i< carts.length; i++) { %>
                                <tr>
                                    <td height="25" colspan="2">&nbsp;</td>
                                </tr>
                                <tr class="product " >
                                    <td class="image man_suit2 ">
                                        <a href="#" data-toggle="modal" data-target="#product_preview" 
                                            data-href="/checkout/cart/<%= i %>"
                                            title="<%= carts[i].gender + ' ' + carts[i].name %>" 
                                            class="details prod_mod popup_link ">
                                            <div class="image-height-limiter">
                                                <img src="<%= carts[i].img%>">
                                            </div>
                                        </a>
                                    </td>
                                    <td class="product_info" id="item_<%= i%>">
                                        <div class="title">
                                            <span class="price">                                                
                                                $<%= carts[i].price * carts[i].quantity %>
                                            </span>
                                            <span class="name">
                                                <%= carts[i].gender + ' ' + carts[i].name %>
                                            </span>
                                        </div>
                                        <% let fabric = fabrics.find(fab => fab.code == carts[0].fabric);
                                        if(!!fabric) { %>
                                        <div class="cross_sell">
                                            Fabric: <strong><%= fabric.name %></strong>
                                        </div>
                                        <div class="cross_sell">
                                            Material: <strong><%= fabric.material.join('/')%></strong>
                                        </div>
                                        <% } %>
                                        <div class="options" id="item_<%= i%>">
                                            <div class="opt"><a class="cart_modify_product" rel="nofollow" href="/<%= carts[i].gender %>/design-<%= carts[i].name%>/<%= i %>">Modify</a>
                                            </div>
                                            <div class="opt split">&nbsp;</div>
    
                                            <div class="opt"><a rel="nofollow" class="cart_modify_product cart_delete_product">Delete</a>
                                            </div>
                                            <div class="opt split desktop_only">&nbsp;</div>

                                            <div class="opt"><a rel="nofollow" class="cart_modify_product">View detail</a>
                                            </div>
                                            <div class="opt split desktop_only">&nbsp;</div>

                                            <div class="opt desktop_only">
                                                <span></span>
                                                <span class="more_units_form">
                                                    <form method="post" class="update_quantity">
                                                        <input type="hidden" name="action" value="update" />
                                                        <span><input type="text" value="<%= carts[i].quantity%>" name="quantity" class="n_products"
                                                                readonly></span>                                                                
                                                        <span class="icon plus"><a rel="nofollow" class="update_q more far fa-plus-square" href="javascript:;"></a></span>
                                                        <span class="icon minus"><a rel="nofollow" class="update_q less far fa-minus-square" href="javascript:;"></a></span>
                                                        <div class="opt split"></div>
                                                        <span class="submit_quantity" style="display: none">
                                                            <a class="submit-form" style="color: rgb(62, 40, 255)">SAVE</a>
                                                        </span>
                                                    </form>
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="split">&nbsp;</td>
                                </tr>
                                <% } %>
                                
                            </table>
                        </div>
                        <div class="totals">
                            <div class="totals_info floating_container">
        
                                <!-- <div class="desktop_only">
                                    <div class="voucher floating left">
                                        <div class="add_code_text">Do you have a <b>coupon code</b> or <b>giftcard</b>?</div>
                                        <div class="add_code_input">
                                            <form class="voucher_form" method="POST" action="">
                                                <input name="action" value="voucher" type="hidden">
                                                <input name="voucher_code" value="" placeholder="ENTER CODE">
                                                <span href="javascript:;" class="send-voucher ds_link"><span class="icon send">f</span></span>
                                            </form>
                                        </div>
        
                                    </div>
                                </div> -->
                                <div class="order_resume floating right">
                                    <div class="bag_total">
                                        <span class="title">Shopping bag total:</span>
                                        <span class="price"></span>
                                    </div>
                                    <div class="shipping">
                                        <span class="title">Shipping:</span>
                                        <span class="price free"></span>
                                    </div>
                                    <div class="final_total">
                                        <span class="title">Total:</span>
                                        <span class="price"></span>
                                    </div>
                                </div>
                            </div>
        
                            <div class="shipping_info floating_container">
                                <div class="shipping floating left desktop_only">
                                    <div class="image shipping_truck sprite">&nbsp;</div>
                                    <div class="text_content">
                                        <div class="title">FASTEST DELIVERY WORLDWIDE</div>
                                        <div class="description">Order today, receive it in next 15 days. </br>Free shipping above
                                            $300.</div>
                                    </div>
                                </div>
                                <div class="add_measures floating right">
                                    <a rel="nofollow" class="btn btn-blue add_measures_big " href="/checkout/shipping">
                                        <span>
                                            PROCEED TO CHECKOUT                                            
                                        </span>
                                    </a>
                                </div>
                            </div>
        
                        </div>
                <% } else { %>
                    <div class="">
                        <div id="cross_selling_products_title">
                            <h3>Your bag is empty! Let fill it!</h3>
                        </div>
                    </div>
                    <% } %>

                <div id="bundle_promo">
                    <div class="bundle_container">
                        <div class="bundles">
                            <div class="bundle" data-type="1">
                                <a id="bundleApply" href="/en-au/checkout/bundle/related/Bundles_blazer20" style="display: none">Bundles_blazer20</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info_blocks desktop_only">
                    <div class="measure">
                        <div class="padding_box">
                            <div class="ico sprite needle">&nbsp;</div>
                            <div class="title">TAILOR MADE TO FIT YOU</div>
                            <div class="description">Forget about sizes! You only need to undergo the measuring process
                                once.</div>
                        </div>
                    </div>
                    <div class="delivery">
                        <div class="padding_box">
                            <div class="ico sprite award">&nbsp;</div>
                            <div class="title">Perfect Fit Guarantee</div>
                            <div class="description"><b>Free remakes</b> if it does not fit.<br />No matter how many
                                times needed.</div>
                        </div>
                    </div>
                </div>

                <div class="pay_couriers desktop_only">
                    <div class="pay">
                        <span id="payment_logos" class="logoPayFooter">

                            <small class="footer_explain first">Our payment methods:</small>
                            <div alt="VISA" class="first visa">&nbsp;</div>
                            <div alt="MasterCard" class="mastercard">&nbsp;</div>
                            <div alt="AmericanExpress" class="americanexpress">&nbsp;</div>
                            <div alt="PayPal" class="paypal">&nbsp;</div>
                        </span> </div>
                    <div class="couriers">
                        <span id="shipping_logos" class="logoPayFooter">
                            <small class="footer_explain">Express shipping with:</small>
                            <div alt="dhl" class="sprite dhllogo"></div>
                            <div alt="fedex" class="sprite fedex"></div>
                            <div alt="dpd" class="sprite dpdlogo"></div>
                            <div alt="rpx" class="sprite rpxlogo"></div>
                        </span>
                    </div>
                </div>



                <style>
		#privacy_label { display:none;  text-align: left; text-transform: none; font-size: 12px; margin-left: 20px;line-height:17px; margin: 0 25px 0px 65px;}
		#privacy_label.region_required { display:block; }
		#privacy_label a{color:#000}
		#privacy_label input{    position: relative;  top: 2px;    margin-left: -21px;    padding: 0;    width: auto;    margin-right: 4px;    margin-top: 10px;    width: 16px;    -webkit-appearance: checkbox;}
		#privacy_label p.error { color: #a32330; position: relative; padding-left: 25px; display: none; font-size: 12px; text-transform: none;  padding-right:10px; line-height:17px;}
		#privacy_label p.error:before { content: ""; position: absolute; left: 0; width: 25px; height: 25px; background: url("https://d2w9m16hs9jc37.cloudfront.net/images/checkout/input_ko.png") left -2px no-repeat; }
		#privacy_label p.error { padding-left: 25px; }

        
        /* --- IMAGES --- */
        img { max-width: 100%; }
        .cloth_preview img { height: 143px; width: 143px; margin-top: 5px; }

        .color_box { display: table; }
        .color_box img { display: table-cell; width: 25px; height: 25px; padding: 0px 5px 0px 5px; }
        .color_box span { display: table-cell; vertical-align: middle; padding-left: 10px; }
        .color_box.logos img, .extra_polo_shirt img{ height: 70px; width: auto; margin: 5px; text-align: center; }
        .initials_color_box img { width: 25px; height: 25px; padding: 1px 5px 2px 5px; }

		
    </style>
            <% if(carts.length > 0) { %>
                <div class="modal fade" id="product_preview" role="dialog">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cart Item Detail</h4>
            </div>
            <div class="modal-body"  style="overflow: scroll; max-height: 500px;">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="/" allowfullscreen></iframe>
                  </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> 
<% } %>


                <!-- <script type="text/javascript">
                    var mobile_device = false

                    ready_callbacks.push(function () {
                        if (mobile_device || typeof (ouibounce) == 'undefined') return false;
                        modal = ouibounce(document.getElementById('smartModal'), {
                            aggressive: false,
                            timer: 0,
                            callback: function () {
                                dataLayer.push({
                                    'event': 'save_cart',
                                    'eventCategory': 'save_cart',
                                    'eventAction': 'show_popup',
                                    'eventLabel': 'desktop'
                                });
                            }
                        });

                        $('#smartModal .not_now, #smartModal .mfp-close.cross, #smartModal .mfp-bg').on('click', function () {
                            $('#smartModal').hide();
                        });
                    });
                </script> -->


                <div class="mobile_only">
                    <div class="receive_date">
                        <div class="image shipping_truck sprite">&nbsp;</div>
                        <div class="text_content">
                            <div class="title">FASTEST DELIVERY WORLDWIDE</div>
                            <div class="description">Order today, receive it in about 15 days. </br>Free shipping above
                                $150.</div>
                        </div>
                    </div>
                    <div class="geotrust_container">
                        <div class="geotrust_image">&nbsp;</div>
                    </div>

                    <!-- <div class="voucher floating left">
                        <div class="add_code_text">Do you have a <b>coupon code</b> or <b>giftcard</b>?</div>
                        <div class="add_code_input">
                            <form class="voucher_form" method="POST" action="">
                                <input name="action" value="voucher" type="hidden">
                                <input name="voucher_code" value="" placeholder="ENTER CODE">
                                <span href="javascript:;" class="send-voucher ds_link"><span class="icon send">f</span></span>
                            </form>
                        </div>
                    </div> -->
                </div>

                <div class="save_cart">
                    <div class="background">&nbsp;</div>
                    <span id="hidden_email_save_cart_block" class="hidden_email_save_cart_block">
                        <button type="button" class="mfp-close cross">v</button>
                        <div class="email_save_cart">
                            <span>Save your cart</span>
                            <div class="save_cart_info">We will send you a message with your order summary so you can
                                complete it anytime.</div>
                            <label id="floating_email_label" for="email">
                                <span>Enter your e-mail address</span>
                            </label>
                            <input type="email" name="email" value="" />
                            <div class="email_error_format" style="display: none;">
                                The email is not valid
                            </div>
                            <div class="email_save_cart_error" style="display: none;">
                                Error while saving data
                            </div>
                            <label id="privacy_label" class="button_popup ">
                                <input id="privacy" class="button_popup" type="checkbox" name="privacy" required_check="required_check">
                                <p class="error">This field is required</p>
                                I agree to let my email to be processed in accordance with the <a target="_blank" href="/en-au/info/privacy">Privacy
                                    Notice</a>
                            </label>
                            <a class="save_cart btn-blue" href="javascript:;">Save your cart</a>
                        </div>

                        <div class="email_save_cart_ok" style="display: none;">
                            Your Order has been Saved.
                        </div>
                    </span>
                </div>


            </div>

            <!-- <script type="text/javascript">

                window.ready_callbacks.push(function () { function e(e, i, t) { if (e.hasClass("ok")) return !1; var a = region_url + "checkout/crosssell/getLiningJacket/" + i + "/" + t; return mobile_device ? s("lining", a) : $.magnificPopup.open({ items: { src: a, type: "ajax" }, closeMarkup: '<button title="%title%" type="button" class="mfp-close">v</button>' }), !1 } function s(e, s) { var i = '<a href="javascript:;" data-ref="#upsell_' + e + '" class="upsell_close">v</a><div class="iframe-wrapper"><iframe  ' + ($("body").hasClass("iphone") ? 'scrolling="no"' : "") + ' class="uppsell_iframe" id="upsell_' + e + '" name="' + e + '" src="' + s + '"></iframe></div>', t = $("body").append(i); $("html, body").css("overflow", "hidden"), t.on("click", ".upsell_close", function (e) { var s = e.target, i = s.dataset.ref; return $(i).parent().remove(), $(s).remove(), $("html, body").css("overflow", "visible"), !1 }) } function i(e, i, t) { if (e.hasClass("ok")) return !1; var a = t.split("_").splice(-1).pop(); "bar" == a && (a = "tiebar"); var n = region_url + "checkout/crosssell/getCrossAccessories/" + a + "/" + i + "/" + t; return mobile_device ? s("accessory", n) : ($.magnificPopup.open({ items: { src: n, type: "ajax" }, closeMarkup: '<button title="%title%" type="button" class="mfp-close">v</button>' }), $(".mfp-content").css("width", "auto")), !1 } function t(e, i, t) { if (e.hasClass("ok")) return !1; var a = "", n = ""; switch (t) { case "man_suit2_initials": case "man_jacket_initials": case "man_levita_initials": case "man_suit3_initials": a = "jacket", n = "suit"; break; case "man_shirt_initials": a = "shirt", n = "shirt"; break; case "man_polo_initials": a = "polo", n = "shirt"; break; case "man_coat_initials": a = "jacket", n = "suit"; break; case "man_waistcoat_initials": a = "waistcoat", n = "suit"; break; default: a = "jacket", n = "suit" }var l = region_url + "checkout/crosssell/getCrossInitials/" + i + "/" + t + "/" + a + "/" + n; return mobile_device ? s("monogram", l) : $.magnificPopup.open({ items: { src: l, type: "ajax" }, closeBtnInside: !0, closeMarkup: '<button title="%title%" type="button" class="mfp-close">v</button>' }), !1 } $(".cross_sell").on("click", "a.add", function (s) { var a = $(this), n = a.data("id_product"), l = a.data("cross_sell"); return -1 !== l.indexOf("initials") ? (t(a, n, l), !1) : -1 !== l.indexOf("lining") ? (e(a, n, l), !1) : -1 !== l.indexOf("tie") || -1 !== l.indexOf("cufflink") || -1 !== l.indexOf("belt") || -1 !== l.indexOf("socks") || -1 !== l.indexOf("sash") || -1 !== l.indexOf("scarf") || -1 !== l.indexOf("panuelos") ? (i(a, n, l), !1) : -1 === l.indexOf("quilted_waistcoat") || (e(a, n, l), !1) }) });

                var cart_delete_product_txt = "Are you sure you would like to remove this item from the shopping cart? ";
                var cart_products = true;
                //Tenemos usuario logeado?
                var is_user = false;
                //El cliente  ya ha guardado el carrito?
                var cart_saved = false;
                var mobile_device = false;
                var region_url = '/en-au/';


                ready_callbacks.push(function () {
                    Checkout.initCart();
                });

            </script> -->
        </div>

        <style type="text/css">
            .chat-trigger,
            .ladesk_chat {
                z-index: 1000 !important;
            }

            .chat_invitation,
            .chat_invitation_text {
                font-family: Lato, sans-serif
            }

            .chat_invitation {
                display: none;
                position: fixed;
                right: 100px;
                bottom: 44px;
                width: 300px;
                font-size: 14px;
                background-color: #fff;
                border-radius: .625rem;
                -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
                -ms-overflow-style: -ms-autohiding-scrollbar;
                cursor: pointer;
                max-width: 260px;
                z-index: 50001
            }

            @media (max-width:370px) {
                .chat_invitation {
                    right: 82px;
                    bottom: 20px
                }
            }

            @media (max-width:320px) {
                .chat_invitation {
                    right: 82px;
                    bottom: 20px;
                    left: 20px;
                    width: auto
                }
            }

            @media (min-width:381px) and (max-width:460px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            @media (min-width:375px) and (max-width:380px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            @media (min-width:360px) and (max-width:374px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            @media (min-width:320px) and (max-width:359px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            .chat_invitation_text {
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 1rem;
                max-width: 100%;
                font-size: .8rem;
                white-space: normal
            }

            .chat_invitation_close,
            .chat_invitation_count {
                position: absolute;
                font-size: 15px;
                color: #fff;
                opacity: 1;
                font-weight: 700;
                line-height: 25px;
                text-align: center
            }

            .chat_invitation_arrow {
                display: block;
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                right: -10px;
                bottom: 10px;
                background-color: inherit;
                -webkit-transform: translateX(-6px) rotate(45deg);
                -ms-transform: translateX(-6px) rotate(45deg);
                transform: translateX(-6px) rotate(45deg);
                pointer-events: none;
                -webkit-box-shadow: 2px -2px 2px 0 rgba(0, 0, 0, .2);
                box-shadow: 2px -2px 2px 0 rgba(0, 0, 0, .2)
            }

            .chat_invitation_close {
                display: none;
                font-family: nc-nav;
                top: -25px;
                border: 1px solid #fff;
                border-radius: 20px;
                left: 0;
                width: 20px;
                height: 20px;
                background: rgba(0, 0, 0, .2)
            }

            .chat_invitation_count {
                bottom: 25px;
                background: #B8513A;
                border-radius: 20px;
                right: -80px;
                width: 25px;
                height: 25px;
                z-index: 50001
            }

            .chat_invitation_close.show {
                display: block
            }

            .drift_up_60 .chat_invitation {
                bottom: 100px;
            }

            .chat_invitation {
                transition: all .5s;
            }
        </style>

        <script type="text/html" id="chat_invitation_tmpl">
    <div class="chat_invitation">
        <span class="chat_invitation_arrow"></span>
        <span class="chat_invitation_count">1</span>
        <span class="chat_invitation_close ">v</span>
    </div>
</script>

        <script type="text/html" id="chat-welcome">
    <div class="chat_welcome">
        <div class="chat_welcome_header">
            <div class="chat_welcome_agent">
                <div class="avatar-container"><span class="avatar-image" style="background-image: url('/images/chat/avatar-image.png')"></span></div>
                <div class="agent-name">Hockerty</div>
            </div>
            <div class="chat_welcome_message_head">Hello! Ready to get you next garment made to your exact measurements?</div>
            <div class="chat_welcome_message"></div>
        </div>
        <form class="chat_welcome_form">
            <div class="textarea">
                <textarea placeholder="Write your message..."></textarea>
            </div>
            <div class="submit">
                <button tabindex="1000">
                    <svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.975.38c.014.043.02.087.024.132v.06c-.004.048-.014.095-.03.14-.006.017-.007.032-.014.046L7.252 12.692c-.09.19-.28.308-.49.308-.216-.002-.406-.127-.493-.32l-.537-3.41C5.56 8.18 4.55 7.1 3.478 6.86l-3.2-.72c-.18-.1-.287-.293-.277-.5.012-.206.138-.39.328-.47L12.248.04 12.3.026c.05-.015.098-.025.148-.026.02 0 .038 0 .058.003.046.004.09.013.132.028l.055.02c.056.027.11.06.154.107.053.053.085.11.11.168.008.018.013.036.018.055z"
                              fill-rule="evenodd"></path>
                    </svg>
                    <span>Send</span></button>
            </div>
        </form>
    </div>
</script>

        <script type="text/javascript">

            ready_callbacks.push(function () {

                var lang = 'en';
                var ladeskButton = 0;
                var chatbot = 1;
                var customer = window.getStoredCustomer();
                var ladeskButtonCallback = 0;

                var linkJS = "https://d2w9m16hs9jc37.cloudfront.net/js/chat/container.js?v=1559542680";
                var linkCSS = "https://d2w9m16hs9jc37.cloudfront.net/css/chat/container.css?v=1559542680";


                var chat_config = {
                    server: 'https://chat.hockerty.com',
                    i18n: {
                        welcome: "Hi! Can I help you?",
                        offline: "Ask us anything. We are available.",
                        onlyenglish: "There are not advisors available in your language, but you can be attended in English. If not, you can leave your message in your language and well get back to you as soon as possible"
                    }
                };

                var ChatHandler = {
                    ladesk_button: null,
                    chat_config: null,
                    chatbot: null,
                    chatEnabled: null,
                    customer: null,
                    Init: function (ladesk_button, chatbot, chat_config, customer) {
                        this.customer = customer;
                        this.ladesk_button = ladesk_button;
                        this.chat_config = chat_config;
                        this.chatbot = chatbot;
                        this.chatEnabled = null;

                        var currentTime = new Date();
                        var utcDateHour = currentTime.getUTCHours();
                        //var utcDateMinute = currentTime.getUTCMinutes();
                        var weekDay = currentTime.getUTCDay();

                        if (chatbot) {
                            if (this.chatEnabled == null) {
                                this.initChatBot();

                            }
                        }

                        if (ladesk_button) {
                            if (this.chatEnabled == null) {
                                this.initLadesk();
                            }
                        }
                    },

                    initLadesk: function () {

                    },

                    loadRemoteScript: function (sScriptSrc, cb) {
                        var oHead = document.getElementsByTagName("HEAD")[0];
                        var oScript = document.createElement('script');
                        oScript.type = 'text/javascript';
                        oScript.src = sScriptSrc;
                        oHead.appendChild(oScript);
                        if (typeof cb === "function") {
                            oScript.onload = cb;
                        }
                    },

                    loadRemoteStyle: function (sStyleSrc, cb) {
                        var oHead = document.getElementsByTagName("HEAD")[0];
                        var oScript = document.createElement('link');
                        oScript.rel = 'stylesheet';
                        oScript.href = sStyleSrc;
                        oHead.appendChild(oScript);
                        if (typeof cb === "function") {
                            oScript.onload = cb;
                        }
                    },

                    initChatBot: function () {
                        this.chatEnabled = 'chatBot';
                        var conversationID = localStorage.getItem("conversationID");
                        var that = this;
                        this.loadRemoteScript(linkJS, function () {
                            that.loadRemoteStyle(linkCSS, function () {
                                new ChatContainer(that.chat_config, conversationID);
                            });
                        });
                    }
                };

                ChatHandler.Init(ladeskButton, chatbot, chat_config, customer);
            });

        </script>
    </div>



    <!-- <script type="text/javascript">
        var localStorageUpdate = { "customer": [], "cart": { "products": { "p2": { "id_product": "p2", "id_shopping_cart_detail": "11031749", "id_shopping_cart": "9937886", "id_t4l_fabric": "482", "images_3d": [{ "2": "man_jacket", "45": "\/3d\/new_man\/jacket\/STD\/482_fabric\/front\/interior+espalda_abajo+length_long.png" }, { "2": "man_jacket", "104": "\/3d\/new_man\/jacket\/STD\/482_fabric\/front\/interior+espalda_arriba.png" }, { "2": "man_jacket", "105": "\/3d\/new_man\/jacket\/STD\/linings\/149_fabric\/front\/interior+espalda_arriba.png" }, { "2": "man_jacket", "46": "\/3d\/new_man\/jacket\/STD\/linings\/149_fabric\/front\/interior+espalda_abajo+length_long.png" }, { "2": "man_jacket", "105": "\/3d\/new_man\/jacket\/STD\/etiquetas\/negra.png" }, { "2": "man_jacket", "119": "\/3d\/new_man\/jacket\/STD\/482_fabric\/front\/neck_double_breasted+buttons_2+lapel_narrow+style_lapel_notch.png" }, { "2": "man_jacket", "120": "\/3d\/new_man\/jacket\/STD\/482_fabric\/front\/interior+sleeves.png" }, { "2": "man_jacket", "130": "\/3d\/new_man\/jacket\/STD\/482_fabric\/front\/bottom_double_breasted+length_long.png" }, { "2": "man_jacket", "150": "\/3d\/new_man\/jacket\/STD\/482_fabric\/front\/breast_pocket_classic.png" }, { "2": "man_jacket", "150": "\/3d\/new_man\/jacket\/STD\/482_fabric\/front\/hip_pockets_with_flap+fit_slim.png" }, { "2": "man_jacket", "170": "\/3d\/new_man\/jacket\/STD\/Buttons\/6\/front\/neck_double_breasted+buttons_2+lapel_narrow+style_lapel_notch.png" }, { "2": "pants_folded", "31": "\/3d\/new_man\/pants\/STD\/482_fabric\/folded\/length_long+cut_slim.png" }, { "2": "pants_folded", "33": "\/3d\/new_man\/pants\/STD\/482_fabric\/folded\/front_pocket+diagonal.png" }, { "2": "pants_folded", "38": "\/3d\/new_man\/pants\/STD\/482_fabric\/folded\/back_pocket+with_button.png" }, { "2": "pants_folded", "39": "\/3d\/new_man\/pants\/STD\/Botones\/6\/folded\/back_pocket+with_button.png" }], "image3D": { "app_webroot_src": "\/var\/www\/vhosts\/tailor4less.com\/httpdocs\/render\/150\/", "web_host_src": "https:\/\/www.hockerty.com\/render\/150\/5cef50d42ff02.png", "file": "5cef50d42ff02.png" }, "gender": "man", "product_type": "man_suit2", "title": "Black double breasted suit ", "description": "Style Double-breasted, Lapels: Notch\nNo Pleats", "q": "6", "price": "299.00", "total_base": "299.00", "total_dsc": "0.00", "total": "1794.00", "extras": { "man_jacket": [], "man_waistcoat": [] } }, "p3": { "id_product": "p3", "id_shopping_cart_detail": "11038272", "id_shopping_cart": "9937886", "id_t4l_fabric": "894", "images_3d": [{ "2": "man_jacket", "45": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/interior+espalda_abajo+length_long.png" }, { "2": "man_jacket", "104": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/interior+espalda_arriba.png" }, { "2": "man_jacket", "105": "\/3d\/new_man\/jacket\/STD\/linings\/162_fabric\/front\/interior+espalda_arriba.png" }, { "2": "man_jacket", "46": "\/3d\/new_man\/jacket\/STD\/linings\/162_fabric\/front\/interior+espalda_abajo+length_long.png" }, { "2": "man_jacket", "105": "\/3d\/new_man\/jacket\/STD\/etiquetas\/negra.png" }, { "2": "man_jacket", "119": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/neck_single_breasted+buttons_2+lapel_narrow+style_lapel_notch.png" }, { "2": "man_jacket", "120": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/interior+sleeves.png" }, { "2": "man_jacket", "130": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/bottom_single_breasted+length_long+hemline_open.png" }, { "2": "man_jacket", "150": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/breast_pocket_classic.png" }, { "2": "man_jacket", "150": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/hip_pockets_with_flap+fit_slim.png" }, { "2": "man_jacket", "170": "\/3d\/new_man\/jacket\/STD\/Buttons\/3\/front\/neck_single_breasted+buttons_2+lapel_narrow+style_lapel_notch.png" }, { "2": "pants_folded", "31": "\/3d\/new_man\/pants\/STD\/894_fabric\/folded\/length_long+cut_slim.png" }, { "2": "pants_folded", "33": "\/3d\/new_man\/pants\/STD\/894_fabric\/folded\/front_pocket+diagonal.png" }, { "2": "pants_folded", "38": "\/3d\/new_man\/pants\/STD\/894_fabric\/folded\/back_pocket+with_button.png" }, { "2": "pants_folded", "39": "\/3d\/new_man\/pants\/STD\/Botones\/3\/folded\/back_pocket+with_button.png" }], "image3D": { "app_webroot_src": "\/var\/www\/vhosts\/tailor4less.com\/httpdocs\/render\/150\/", "web_host_src": "https:\/\/www.hockerty.com\/render\/150\/5cef50817f28c.png", "file": "5cef50817f28c.png" }, "gender": "man", "product_type": "man_suit2", "title": "Blue suit ", "description": "Style Single breasted, Lapels: Notch\nNo Pleats", "q": "1", "price": "299.00", "total_base": "299.00", "total_dsc": "0.00", "total": "299.00", "extras": { "man_jacket": [], "man_waistcoat": [] } }, "p4": { "id_product": "p4", "id_shopping_cart_detail": "11063371", "id_shopping_cart": "9937886", "id_t4l_fabric": "894", "images_3d": [{ "2": "man_jacket", "45": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/interior+espalda_abajo+length_short.png" }, { "2": "man_jacket", "104": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/interior+espalda_arriba.png" }, { "2": "man_jacket", "105": "\/3d\/new_man\/jacket\/STD\/linings\/162_fabric\/front\/interior+espalda_arriba.png" }, { "2": "man_jacket", "46": "\/3d\/new_man\/jacket\/STD\/linings\/162_fabric\/front\/interior+espalda_abajo+length_short.png" }, { "2": "man_jacket", "105": "\/3d\/new_man\/jacket\/STD\/etiquetas\/negra.png" }, { "2": "man_jacket", "119": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/neck_single_breasted+buttons_2+lapel_narrow+style_lapel_notch.png" }, { "2": "man_jacket", "120": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/interior+sleeves.png" }, { "2": "man_jacket", "130": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/bottom_single_breasted+length_short+hemline_closed.png" }, { "2": "man_jacket", "150": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/breast_pocket_classic.png" }, { "2": "man_jacket", "150": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/hip_pockets_with_flap+fit_slim.png" }, { "2": "man_jacket", "170": "\/3d\/new_man\/jacket\/STD\/Buttons\/3\/front\/neck_single_breasted+buttons_2+lapel_narrow+style_lapel_notch.png" }], "image3D": { "app_webroot_src": "\/var\/www\/vhosts\/tailor4less.com\/httpdocs\/render\/158\/", "web_host_src": "https:\/\/www.hockerty.com\/render\/158\/5cf9eeea15dd6.png", "file": "5cf9eeea15dd6.png" }, "gender": "man", "product_type": "man_jacket", "title": "Blue wool blend blazer", "description": "Style Single breasted, Lapels: Notch", "q": "1", "price": "199.00", "total_base": "199.00", "total_dsc": "0.00", "total": "199.00", "extras": [] }, "p5": { "id_product": "p5", "id_shopping_cart_detail": "11069547", "id_shopping_cart": "9937886", "id_t4l_fabric": "894", "images_3d": [{ "2": "man_jacket", "45": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/interior+espalda_abajo+length_long.png" }, { "2": "man_jacket", "104": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/interior+espalda_arriba.png" }, { "2": "man_jacket", "105": "\/3d\/new_man\/jacket\/STD\/linings\/162_fabric\/front\/interior+espalda_arriba.png" }, { "2": "man_jacket", "46": "\/3d\/new_man\/jacket\/STD\/linings\/162_fabric\/front\/interior+espalda_abajo+length_long.png" }, { "2": "man_jacket", "105": "\/3d\/new_man\/jacket\/STD\/etiquetas\/negra.png" }, { "2": "man_jacket", "119": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/neck_double_breasted+buttons_6+lapel_narrow+style_lapel_notch.png" }, { "2": "man_jacket", "120": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/interior+sleeves.png" }, { "2": "man_jacket", "130": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/bottom_double_breasted+length_long.png" }, { "2": "man_jacket", "150": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/breast_pocket_classic.png" }, { "2": "man_jacket", "150": "\/3d\/new_man\/jacket\/STD\/894_fabric\/front\/hip_pockets_with_flap+fit_slim.png" }, { "2": "man_jacket", "170": "\/3d\/new_man\/jacket\/STD\/Buttons\/3\/front\/neck_double_breasted+buttons_6+lapel_narrow+style_lapel_notch.png" }, { "2": "pants_folded", "31": "\/3d\/new_man\/pants\/STD\/894_fabric\/folded\/length_long+cut_slim.png" }, { "2": "pants_folded", "33": "\/3d\/new_man\/pants\/STD\/894_fabric\/folded\/front_pocket+diagonal.png" }, { "2": "pants_folded", "38": "\/3d\/new_man\/pants\/STD\/894_fabric\/folded\/back_pocket+with_button.png" }, { "2": "pants_folded", "39": "\/3d\/new_man\/pants\/STD\/Botones\/3\/folded\/back_pocket+with_button.png" }], "image3D": { "app_webroot_src": "\/var\/www\/vhosts\/tailor4less.com\/httpdocs\/render\/160\/", "web_host_src": "https:\/\/www.hockerty.com\/render\/160\/5cfcb9ddb6736.png", "file": "5cfcb9ddb6736.png" }, "gender": "man", "product_type": "man_suit2", "title": "Blue double breasted wool blend suit ", "description": "Style Double-breasted, Lapels: Notch\nNo Pleats", "q": "1", "price": "299.00", "total_base": "299.00", "total_dsc": "0.00", "total": "299.00", "extras": { "man_jacket": [], "man_waistcoat": [] } } }, "base": 2591, "dsc": 0, "giftcard": 0, "credit": 0, "shipping": 0, "tpv_fee": "0.00", "total": 2591, "custom_base": 0, "custom_dsc": 0, "custom_total": 0, "cart_device": "desktop", "region": "en-au" }, "isAdmin": false };
    </script> -->
    <script type="text/javascript" src="/js/default.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/checkout/checkout.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">$(function () {
            for (var i = 0; i < ready_callbacks.length; i++) {
                try { ready_callbacks[i](); } catch (ex) { console.log(ex); }
            }
            if (typeof (afterJquery) == 'function') afterJquery();
        });</script>


    <script type="text/javascript">if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/js/cdn-service-worker.js?v=1559542680', { scope: '/' });
        }</script>

    <script type="text/html" id="promo_tmpl">
    <div class="mainblock promoblock_mgm">
        <div class="content">
            <a href="/en-au/customer/referral">Give $25 - Get $25</a>
        </div>
    </div>
</script>
    <script>

        // MGM - Banner
        // if (!$('#promo_block_top').length) {
        //     var isSumissura = $('body').hasClass('woman');
        //     var href = window.location.href;

        //     if (href.indexOf('/checkout/') < 0 && !$('body').hasClass('woman_mobile_personalize') && !$('body').hasClass('personalize')) {
        //         if ($('.promoblock_mgm').length == 0) {
        //             var mgm_customer = JSON.parse(localStorage.getItem('customer'));
        //             if (mgm_customer) {
        //                 if (mgm_customer.t4l_n_orders > 0) {
        //                     var dataObject = { customer: mgm_customer };
        //                     var new_html = tmpl("promo_tmpl", dataObject);
        //                     if (isSumissura) {
        //                         $('div.body').prepend(new_html);
        //                     } else {
        //                         $('#body').prepend(new_html);
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }

    </script>
</body>

</html>