<!DOCTYPE html>
<html lang="en-au" xml:lang="en-au">

<head>
    <meta charset="utf-8">
    <title>Men Tailored Suits & Tailored Shirts | Hockerty</title>
    <meta name="description"
        content="Design men custom suits and shirts and enjoy 2 weeks free shipping. Unlimited personalization options & a wide range of fabrics. Order now" />
    <meta name="keywords"
        content="Custom Suits, Tailored suits, Custom made suits, Custom Dress Shirts, Tailored shirts, Custom made shirts" />
    <!--[if gte IE 9]><meta http-equiv="x-ua-compatible" content="IE=edge" /><![endif]-->
    <!--[if lt IE 9]><meta http-equiv="x-ua-compatible" content="IE=6,7,8" /><![endif]-->
    <!--[if lt IE 9]><meta name="viewport" content="width=device-width, initial-scale=1.0"><![endif]-->
    <meta http-equiv="content-language" content="en" />

    <!-- <meta name="apple-mobile-web-app-title" content="hockerty">
    <meta name="application-name" content="hockerty">
    <meta name="msapplication-TileColor" content="#fafafa">
    <meta name="theme-color" content="#fafafa">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fafafa">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="32x32" href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" href="https://d2w9m16hs9jc37.cloudfront.net/images/favicon/apple-touch-icon.png">
    <link rel="preconnect" href="//d2w9m16hs9jc37.cloudfront.net">
    <link rel="preconnect" href="//d1fufvy4xao6k9.cloudfront.net">
    <link rel="preconnect" href="//www.googletagmanager.com">
    <meta name="robots" content="noindex, nofollow" /> -->
    <link rel="stylesheet" href="/css/default.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/bower_components/AdminLTE/bootstrap/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/AdminLTE/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/css/customer/orders.css" type="text/css"
        charset="utf-8" />
    <!--[if lt IE 9]>
<script src="https://d2w9m16hs9jc37.cloudfront.net/js/html5shiv.js"></script>
<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<script src="https://d2w9m16hs9jc37.cloudfront.net/js/css3-mediaqueries.min.js"></script>
<![endif]-->
    <meta property="og:url" content="https://www.hockerty.com/en-au/customer/orders" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://d1fufvy4xao6k9.cloudfront.net/images/share/hockerty.jpg" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:site_name" content="Hockerty" />
    <meta property="fb:app_id" content="1012420945555828">


    <!-- <script type="text/javascript">
        !function () { function e() { if (void 0 !== window._sw2) return window._sw2; if (!window.FontFace) return window._sw2 = !1; var e = new FontFace("t", 'url("data:application/font-woff2,") format("woff2")', {}); return e.load(), window._sw2 = "loading" === e.status } function t(e) { document.documentElement.className += " " + e } var n = navigator.userAgent, o = !window.addEventListener || n.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/) && !n.match(/Chrome/); window.loadScript = function (e, t, n) { if ("object" != typeof e) { t || (t = "https://d2w9m16hs9jc37.cloudfront.net/js/" + e), t += "?v=" + cdn_version_js; var a = document.createElement("script"); if (a.type = "text/javascript", o) a.src = t, document.body.appendChild(a), "function" == typeof n && n(e); else { var s = {}; try { s = localStorage || {} } catch (e) { } var c = "x-js-" + e, r = c + "-url", d = c + "-data", l = s[r], i = s[d]; if (i && l === t) { try { a.appendChild(document.createTextNode(i)) } catch (e) { a.text = i } document.body.appendChild(a), "function" == typeof n && n(e) } else { var f = new XMLHttpRequest; f.open("GET", t), f.onload = function () { if (200 == f.status) { try { s[r] = t, s[d] = f.responseText } catch (e) { } try { a.appendChild(document.createTextNode(f.responseText)) } catch (e) { a.text = f.responseText } document.body.appendChild(a) } "function" == typeof n && n(e) }, f.send() } } } else for (var p in e) loadScript(e[p], null, n) }, window.loadStylesheet = function (n, a) { if ("object" != typeof n) { a || (a = "https://d2w9m16hs9jc37.cloudfront.net/css/" + n), a += "?v=" + cdn_version_css; var s = "css-" + n.replace(".css", "").replace("/", "-"); if (o) { var c = document.createElement("link"); return c.type = "text/css", c.rel = "stylesheet", c.href = a, document.head.appendChild(c), void t(s) } var r = a.indexOf("/css/fonts/") > -1; r && (a = a.replace("/css/fonts/", "/en/services/font/").replace(".css", "/woff")); var d = {}; try { d = localStorage || {} } catch (e) { } var l = "x-css-" + n, i = l + "-url", f = l + "-css", p = d[i], u = d[f], h = document.createElement("style"); if (h.rel = "stylesheet", document.head.appendChild(h), u && p === a) h.styleSheet ? h.styleSheet.cssText = u : h.appendChild(document.createTextNode(u)), t(s); else { var w = a; r && e() && (w = w.replace("woff", "woff2")); var y = new XMLHttpRequest; y.open("GET", w), y.onload = function () { if (200 == y.status) { var e = y.responseText; h.styleSheet ? h.styleSheet.cssText = e : h.appendChild(document.createTextNode(e)); try { d[i] = a, d[f] = e } catch (e) { } t(s) } }, y.send() } } else for (var v in n) loadStylesheet(n[v], null) }, window.loadFont = function (e) { loadStylesheet("fonts/" + e + ".css") } }();
        var cdn_version_css = "1562663798"; var cdn_version_js = "1562663798"; loadFont('lato'); loadFont('nc-nav'); </script> -->
</head>

<body class="man  customer_account body_en ">
    <script type="text/javascript">
        var region_url = '/en-au/';
        // var cdn_host = 'https://d2w9m16hs9jc37.cloudfront.net/';
        var backoffice_store = 0;
        var currency = 'AUD';
        var currency_json = { "iso": "AUD", "symbol": "$" };
        var ready_callbacks = [];
        var ga_callbacks = [];
        // var scripts_to_load = ["default.js"];
        var mobile_enabled = false;
        var tablet_enabled = false;
        var dataLayer = [{ "contentGroup1": "customer_account", "contentGroup2": "customer_orders", "promotion_active": "4x3shirt19", "promotion_popup_firsttime": "0", "promotion_valid": "2019-07-21", "region": "en-au", "lang": "en", "currency": { "iso": "AUD", "symbol": "$" }, "length_units": "cm", "weigth_units": "kg", "gender": "man", "menu_item": "customer_orders", "isAdmin": false, "mobile_device": false, "tablet_device": false, "mobile_ready": true, "mobile_enabled": false, "customer_logged": 1, "swiss_site": 0, "cart_n_products": 2, "cart_price": 1495, "device_type": "desktop", "customer_id": "694767", "customer_email": "nathan@gmail.com", "customer_segment": "voyeur", "customer_n_orders": 0, "customer_samples": 0, "customer_last_order": 0 }];
    </script>
    <!-- <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WQMRNX" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-WQMRNX');</script> -->

    <div id="body_height" class=" ">
        <!--googleoff: all-->
        <!--DESKTOP-->
        <!--HEADER-->
        <!--TOOLBAR-->
        <div id="lang_selector">
            <div class="regions_popup">
                <div class="background">&nbsp;</div>
                <div id="language_selector" data-domain="" class="language_selector  min">
                    <a class="close">v</a> </div>
            </div>
        </div>
        <div id="toolbar" class="">
            <div class="container_margins">
                <div class="left">
                    <a class="logo_toolbar" href="/en-au/">
                        <img alt="Hockerty" src="https://d2w9m16hs9jc37.cloudfront.net/images/logos/symbol_hockerty.svg"
                            width="28" height="28" class="small">
                        <img alt="Hockerty" src="https://d2w9m16hs9jc37.cloudfront.net/images/logos/logo_hockerty.svg"
                            width="129" height="30" />
                    </a>


                    <li class="menu_man_suit main man product first  title " rel="man_suit">
                        <a href="/en-au/men/custom-suits/" class="title dropdown">
                            <span>Suits</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_suit subnav_titles "
                                    href="/en-au/men/custom-suits/personalize">DESIGN YOUR SUIT</a></li>
                            <li class="psl"><a class="menu_man_smoking subnav_titles "
                                    href="/en-au/men/custom-tuxedos/personalize">Design your tuxedo</a></li>
                            <li class="split"></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/suits/spring-summer/">Spring - Summer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/suits/business-suits/">Business Suits</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/suits/doublebreasted-suits/">Double-breasted Suits</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/suits/three-piece-suits/">3 Piece Suits</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/tuxedos/party-tuxedos/">Party Tuxedos</a></li>
                            <li rel=""><a class="subnav_titles new" rel="configure"
                                    href="/en-au/men/suits/new-arrivals/">New Arrivals<span class="new">NEW</span></a>
                            </li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_man_shirt main man product   title " rel="man_shirt">
                        <a href="/en-au/men/custom-dress-shirts/" class="title dropdown">
                            <span>Dress Shirts</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_shirt subnav_titles "
                                    href="/en-au/men/custom-dress-shirts/personalize">DESIGN YOUR SHIRT</a></li>
                            <li class="split"></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/shirts/spring-summer/">Spring - Summer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/shirts/business-shirts/">Business Dress Shirts</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/shirts/casual-shirts/">Casual Shirts</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/shirts/linen-shirts-collection/">Linen Shirts Collection</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/shirts/essential-dress-shirts/">Essential Shirts</a></li>
                            <li rel=""><a class="subnav_titles new" rel="configure"
                                    href="/en-au/men/shirts/new-arrivals/">New Arrivals<span class="new">NEW</span></a>
                            </li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_outerwear main man product   title " rel="outerwear">
                        <a href="/en-au/men/outerwear/" class="title dropdown">
                            <span>Outerwear</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_coat subnav_titles "
                                    href="/en-au/men/custom-coats/">Design your coat</a></li>
                            <li class="psl"><a class="menu_man_trenchcoat subnav_titles "
                                    href="/en-au/men/trench-coat/configure">Design your Trench Coat</a></li>
                            <li class="psl"><a class="menu_winter_blazers_landing subnav_titles "
                                    href="/en-au/men/custom-winter-blazers/">Design your Winter Blazer</a></li>
                            <li class="split"></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure" href="/en-au/men/coats/new-coats/">New
                                    Coats 2019</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/coats/business-coats/">Business Coats</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/coats/casual-coats/">Casual Coats</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/coats/essential-coats/">Essential Coats</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/coats/selected-winter-coats/">Selected Winter Coats</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/trench-coats/new-trench-coats/">New Trench Coats</a></li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_man_jacket main man product   title " rel="man_jacket">
                        <a href="/en-au/men/custom-jackets/" class="title dropdown">
                            <span>Jackets</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_jacket subnav_titles "
                                    href="/en-au/men/custom-jackets/personalize">Design your Blazer</a></li>
                            <li class="split"></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/blazers/spring-summer/">Spring/Summer Blazer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/blazers/business-blazers/">Business Blazer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/blazers/casual-blazers/">Casual Blazer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/blazers/unlined-blazer/">Unlined Blazer</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/blazers/party-blazers/">Party Blazer</a></li>
                            <li rel=""><a class="subnav_titles new" rel="configure"
                                    href="/en-au/men/blazers/new-arrivals/">New Arrivals<span class="new">NEW</span></a>
                            </li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_man_pants main man product   title " rel="man_pants">
                        <a href="/en-au/men/custom-pants/" class="title dropdown">
                            <span>Pants</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_pants subnav_titles "
                                    href="/en-au/men/custom-pants/personalize">Design your pants</a></li>
                            <li class="psl"><a class="menu_man_pants_chinos_personalize_2 subnav_titles "
                                    href="/en-au/men/custom-chinos/">Design Chinos</a></li>
                            <li class="split"></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/pants/dress-trousers/">Dress Trousers</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/pants/casual-business/">Casual Business</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/pants/chinos/">Chinos</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/pants/spring-summer/">Spring - Summer</a></li>
                            <li rel=""><a class="subnav_titles new" rel="configure"
                                    href="/en-au/men/pants/new-arrivals/">New Arrivals<span class="new">NEW</span></a>
                            </li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_man_wedding main man product   title " rel="man_wedding">
                        <a href="/en-au/men/wedding-suits/" class="title dropdown">
                            <span>Ceremonial</span></a>
                        <ul class="subnav simple">
                            <li class="title psl">3D Designer</li>
                            <li class="psl"><a class="menu_man_wedding_suit subnav_titles "
                                    href="/en-au/men/wedding-suit/">Wedding Suits</a></li>
                            <li class="psl"><a class="menu_man_smoking subnav_titles "
                                    href="/en-au/men/custom-tuxedos/">Tuxedo Suits</a></li>
                            <li class="psl"><a class="menu_man_chaque subnav_titles "
                                    href="/en-au/men/morning-coat/">Morning coat</a></li>
                            <li class="psl"><a class="menu_man_levita subnav_titles "
                                    href="/en-au/men/frock-coat/">Frock coat</a></li>
                            <li class="psl"><a class="menu_man_frac subnav_titles " href="/en-au/men/tailcoats/">Tail
                                    Coat</a></li>
                            <li class="psl"><a class="menu_url_bigorders subnav_titles "
                                    href="/en-au/men/big-orders/">Big Orders</a></li>
                            <li class="title">Collections</li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/tuxedos/tuxedo-suits/">Tuxedo Suits</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/morning-coats/morning-coats/">Morning Coats</a></li>
                            <li rel=""><a class="subnav_titles " rel="configure"
                                    href="/en-au/men/suits/wedding-suits/">Wedding Suits</a></li>
                        </ul>
                    </li>
                    <div class="sep"></div>
                    <li class="menu_other main man product  last title " rel="other">
                        <a href="javascript:;" class="title dropdown">
                            <span>Other</span></a>
                        <ul class="subnav simple">
                            <li class=""><a class="menu_man_waistcoat subnav_titles "
                                    href="/en-au/men/custom-waistcoats/">Waistcoats</a></li>
                            <li class=""><a class="menu_man_polo subnav_titles "
                                    href="/en-au/men/custom-polo-shirts/">Polo shirts</a></li>
                            <li class="psl"><a class="menu_winter_blazers_landing subnav_titles "
                                    href="/en-au/men/custom-winter-blazers/">Winter Blazers</a></li>
                            <li class="split split2"></li>
                            <li class=""><a class="menu_man_accessories subnav_titles "
                                    href="/en-au/men/accessories/">Accessories</a></li>
                            <li class=""><a class="menu_man_gifts subnav_titles " href="/en-au/men/gifts/">Gifts</a>
                            </li>
                            <li class="split split2"></li>
                            <li class=""><a class="menu_fabrics subnav_titles " href="/en-au/fabrics-collection/">FABRIC
                                    SAMPLES SERVICE</a></li>
                        </ul>
                    </li>
                </div>

                <div class="right">
                    <a class="sumissura" href="https://www.sumissura.com/en-au/" title="Go to women's site"
                        target="_blank">
                        <img src="https://d2w9m16hs9jc37.cloudfront.net/images/logos/logo_sumi.svg"
                            onerror="this.src='https://d2w9m16hs9jc37.cloudfront.net/images/logos/logo_sumi.png'"
                            width="70" height="10">
                        WOMEN
                    </a>
                    <div class="sep"></div>
                    <div class="how_it_works">

                        <a class="" id="cart-trigger" href="javascript:;" rel="nofollow">
                            <div class="icon"></div>
                        </a>
                        <div id="howitworks_hover" class=" min">
                            <div class="toolbar_login">
                                <script type="text/html" id="header_logged">
        <ul class="login">
        <div class="title">
            <div class="first">Welcome, <span><%=session.user.email%></span></div>
            <div class="subtitle">Access to your personal area:</div>
        </div>
        <li><span rel="/en-au/customer/orders/pending" class="ds_link">Pending Carts</span></li>
        <li><span rel="/en-au/customer/orders" class="ds_link">Order History</span></li>
        <li><span rel="/en-au/customer/profiles"
                  class="ds_link">Measurement profiles</span></li>
        <li ><span rel="/en-au/customer/incidents"
                                                                    class="ds_link">Support tickets</span>
        </li>
        <li><span rel="/en-au/customer/personal" class="ds_link">Account info</span></li>
    </ul>
    </script>
                                <script type="text/html" id="header_login">
    <div class="form">
        <form class="form_sign_in" method="post" action="/en-au/customer/sign_in">
            <input type="hidden" name="action" value="login"/>
            <div class="intro">Access your account</div>
            <div class="control"><input type="text" name="email" autocomplete="email"
                                        placeholder="E-mail"
                                        class="text requried email"/></div>
            <div class="control"><input type="password" name="password" autocomplete="password"
                                        placeholder="Password" class="text required"/></div>
            <div class="actions">
                <input type="submit" class="submit" value="Login"/>
                <div class="lost"><a href="#form_pwd_lost" class="pwd_lost"
                                     rel="nofollow">Forgot your password?</a></div>
            </div>
        </form>
        <form method="post" class="form_pwd_lost" action="/en-au/customer/sign_in">
            <input type="hidden" name="action" value="recover"/>
            <p class="instructions">
                <b>If you forgot your password</b>, enter your e-mail and we will send you a message with the instructions to reset your password.</p>
            <div class="control"><input type="text" class="text required email" name="email" autocomplete="email"
                                        placeholder="E-mail"/></div>
            <div class="actions">
                <div class="lost"><a href="#form_sign_in" class="pwd_lost sign_in"
                                     rel="nofollow">Go back</a></div>
                <input type="submit" class="submit"/>
            </div>
        </form>
        <div class="social_buttons" >
            <div class="title"></div>
            <a href="https://www.hockerty.com/en-au/customer/login/facebook" class="social little facebook"
                     rel="nofollow"></a> &nbsp;
                <a href="https://www.hockerty.com/en-au/customer/login/google" class="social little google"
                   rel="nofollow"></a>
                &nbsp; <a href="https://www.hockerty.com/en-au/customer/login/linkedin"
                          class="social little linkedin" rel="nofollow"></a>            <div class="create_account"><a href="https://www.hockerty.com/en-au/customer/sign_in?step=register"
                                           rel="nofollow">CREATE ACCOUNT</a></div>
        </div>
    </div>
</script>
                            </div>
                            <div class="information">
                                <span class="title"><b>Information</b></span>
                                <ul class="en">
                                    <li><span rel="/en-au/info/how-it-works/" class="ds_link">How it works</span></li>
                                    <li><span rel="/en-au/info/why-customize/" class="ds_link">Why custom</span></li>
                                    <li><span rel="/en-au/info/perfect-fit/" class="ds_link">Perfect Fit
                                            Guarantee</span></li>
                                    <li><span rel="/en-au/info/making-of/" class="ds_link">HOW IT IS MADE</span></li>
                                    <li><span rel="/en-au/info/our-fabrics/" class="ds_link">Our fabrics</span></li>
                                    <li><span rel="/en-au/info/aboutus/" class="ds_link">About us</span></li>
                                    <li><span rel="/en-au/info/contact/" class="ds_link">Contact us</span></li>
                                    <li class="separator">&nbsp;</li>
                                    <li><span rel="javascript:;" class="ds_link" rel="nofollow"
                                            id="change_region_link">Change country</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sep"></div>

                    <div id="mini_cart_container" class="cart_shopping">
                        <a class="" id="cart-trigger" href="/en-au/checkout/cart">
                            <div class="bag"></div>
                            <div class="shopping_bag">Shopping Bag</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="white_layer"></div>
        <!--TOOLBAR-->


        <!--googleon: all-->
        <div id="body" class="customer_orders">
            <div class="body_box ">
                <style>
                    .account_content {
                        position: relative;
                    }

                    .tablet_menu_bar {
                        background: #fff;
                        overflow: hidden;
                        border-bottom: 1px solid #ccc;
                    }

                    .box-container {
                        width: 350px;
                        float: left;
                        color: #767676;
                    }

                    .tablet_menu_bar {
                        display: none;
                    }

                    .tablet_menu_bar .menu-ico {
                        float: left;
                        padding: 0px;
                        font-family: 'nc-nav';
                        font-size: 50px;
                        cursor: pointer;
                        color: #000;
                        line-height: 54px;
                    }

                    .tablet_menu_bar .account {
                        float: left;
                        height: 100%;
                        padding: 15px 30px;
                    }

                    .tablet_menu_bar .account h2 {
                        color: #000;
                    }

                    #account div.customer-summary {
                        border: none;
                        border-bottom: 1px solid #eee;
                        padding: 10px 0;
                    }


                    @media(max-width: 1024px) {

                        .account_sidebar {
                            border: none;
                            border-right: 1px solid #efefef;
                        }

                        .tablet_menu_bar {
                            display: block;
                        }

                        .tablet_menu_bar .account {
                            padding: 15px 0 0 10px;
                        }

                        .tablet_menu_bar .account h2 {
                            color: #000;
                            font-family: "Lato";
                            font-size: 20px;
                            font-weight: normal;
                            margin: 0px
                        }

                        .tablet_menu_bar h2.seccio {
                            padding: 25px 60px;
                            font-size: 30px;
                            color: #999;
                        }

                        div#account {
                            padding: 0;
                            min-height: 100%;
                            margin-top: 20px;
                        }

                        #account div.customer-summary {
                            padding: 10px 25px;
                        }

                        #account .account_sidebar h2.title {
                            display: none;
                        }

                        #account .account_sidebar {
                            margin: 0;
                            width: 350px;
                            padding: 0;
                            float: none;
                            height: 100%;
                            position: absolute;
                            background: #fff;
                            z-index: 3;
                            display: none;
                        }

                        #account .account_content {
                            width: 96%;
                            margin-left: 2%;
                            margin-right: 2%;
                        }

                        #account .account_sidebar a {
                            line-height: 50px;
                            border-bottom: 1px solid #EFEEEE;
                            padding: 0px 25px;
                            margin: 0px;
                        }

                        #account .account_sidebar a.current {
                            color: #000;
                        }

                        #account .account_sidebar .split {
                            display: none;
                        }

                        #account .account_content div.title {
                            position: absolute;
                            top: -69px;
                            left: 350px;
                            right: 0;
                        }

                        #account .account_content div.title h4 {
                            color: #999 !important;
                            font-size: 20px !important;
                        }
                    }

                    @media(orientation: landscape) {
                        .tablet_menu .account_content .opt_box .title {
                            left: 565px;
                        }
                    }
                </style>
                <div class="tablet_menu_bar">
                    <div class="box-container">
                        <div class="menu-ico">.</div>
                        <div class="account">
                            <h2 class="title" rel="title">User account</h2>
                        </div>
                    </div>
                </div>
                <div id="account" class="customer_orders">
                    <div class="account_sidebar">
                        <div class="customer-summary">
                            <p class="email"><%= session.user.email %></p>
                            <!-- <p class="alta">Registration: 17/06/2019</p> -->
                        </div>

                        <div class="content" id="account_menu">
                            <ul>
                                <li><a href="/en-au/customer/orders/pending">Pending Carts</a></li>
                                <li><a href="/en-au/customer/orders" class="current">Order records</a></li>
                                <li class="split"></li>
                                <!-- <li><a href="/en-au/customer/personal">Customer Data</a></li> -->
                                <li><a href="/en-au/customer/profiles">Profiles</a></li>
                                <!-- <li><a href="/en-au/customer/addresses">Address</a></li> -->
                                <li class="split"></li>
                                <!-- <li><a href="/en-au/customer/t4l_credit">HOCKERTY credit</a></li> -->
                                <!--li><a href="/en-au/customer/adjustments" >Alterations refund</a></li>
				                <li><a href="/en-au/customer/incidents" >Support Ticket</a></li-->
                                <!-- <li class="list-group-item"><a href="/en-au/customer/referral">INVITE YOUR FRIENDS</a>
                                </li>
                                <li class="list-group-item"><a href="/en-au/customer/favorites">Favorites</a></li>
                                <li class="list-group-item"><a href="/en-au/men/style-concierge/">Hockerty Style
                                        Concierge</a></li> -->

                                <!-- <li class="split"></li> -->
                                <li><a href="/en-au/customer/logout">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="account_content">
                        <div class="opt_box">
                            <div class="title">
                                <h4 rel="optbox">Order records</h4>
                            </div>
                            <div class="content">
                                <div class="menu_options" style="display: block">
                                    <a href="?status=pending" class="box active " rel="pending">
                                        <div class="subbox">
                                            <div class="icon pending"></div>
                                            <div class="text">Pending orders</div>
                                        </div>
                                    </a>
                                    <a href="?status=process" class="box " rel="process">
                                        <div class="subbox">
                                            <div class="icon process"></div>
                                            <div class="text">Orders in progress</div>
                                        </div>
                                    </a>
                                    <a href="?status=history" class="box " rel="history">
                                        <div class="subbox">
                                            <div class="icon history"></div>
                                            <div class="text">Order History</div>
                                        </div>
                                    </a>
                                </div>

                                <% if (messages.errors) {
                                    for (i = 0; i < messages.errors.length; i++) { %>
                                <div class="form_message error">
                                    <p><%= messages.errors[i].msg %></p>
                                </div>
                                <% } 
                                } if (messages.reason_fail) { %>
                                <div class="form_message error">
                                    <p><%= messages.reason_fail %></p>
                                </div>
                                <% } if (messages.success) { %>
                                <div class="form_message success">
                                    <p><%= messages.success %></p>
                                </div>
                                <% } %>
                                
                                <div class="orders">
                                    <% if (orders.length > 0) { %>
                                    <table id="tableListDiscounts" class="table table-bordered table-striped dataTable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Id</th>
                                                <th>Date</th>
                                                <th>Total Price</th>
                                                <th>Status</th>
                                                <th>View detail</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% var i= 1; orders.forEach(function(order) { %>
                                            <tr>
                                                <td><%= i++ %></td>
                                                <td><%= order._id %></td>
                                                <% let date = new Date(order.createdAt); %>
                                                <td><%= date.toLocaleString() %></td>
                                                <td><%= order.total_price %>$ AUD</td>
                                                <td><% if(order.status == 1) { %>
                                                    <span class="label label-warning ">Pending</span>
                                                    <%} else if (order.status == 2) { %>
                                                    <span class="label label-primary ">Confirmed</span>
                                                    <% }  else if (order.status == 3) { %>
                                                    <span class="label label-default ">Processing</span>
                                                    <% } else if (order.status == 0) { %>
                                                    <span class="label label-danger ">Cancelled</span>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <a href="/orders/<%= order._id %>" target="_blank"
                                                        class="btn btn-sm btn-primary">
                                                        <span class="fa fa-search" aria-hidden="true"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                    <% } else { %>
                                    <div class="sub_title">No order record</div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <style type="text/css">
            .chat_invitation,
            .chat_invitation_text {
                font-family: Lato, sans-serif
            }

            .chat_invitation {
                display: none;
                position: fixed;
                right: 100px;
                bottom: 44px;
                width: 300px;
                font-size: 14px;
                background-color: #fff;
                border-radius: .625rem;
                -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .4);
                -ms-overflow-style: -ms-autohiding-scrollbar;
                cursor: pointer;
                max-width: 260px;
                z-index: 50001
            }

            @media (max-width:370px) {
                .chat_invitation {
                    right: 82px;
                    bottom: 20px
                }
            }

            @media (max-width:320px) {
                .chat_invitation {
                    right: 82px;
                    bottom: 20px;
                    left: 20px;
                    width: auto
                }
            }

            @media (min-width:381px) and (max-width:460px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            @media (min-width:375px) and (max-width:380px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            @media (min-width:360px) and (max-width:374px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            @media (min-width:320px) and (max-width:359px) {
                .chat_invitation {
                    max-width: 260px
                }
            }

            .chat_invitation_text {
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 1rem;
                max-width: 100%;
                font-size: .8rem;
                white-space: normal
            }

            .chat_invitation_close,
            .chat_invitation_count {
                position: absolute;
                font-size: 15px;
                color: #fff;
                opacity: 1;
                font-weight: 700;
                line-height: 25px;
                text-align: center
            }

            .chat_invitation_arrow {
                display: block;
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                right: -10px;
                bottom: 10px;
                background-color: inherit;
                -webkit-transform: translateX(-6px) rotate(45deg);
                -ms-transform: translateX(-6px) rotate(45deg);
                transform: translateX(-6px) rotate(45deg);
                pointer-events: none;
                -webkit-box-shadow: 2px -2px 2px 0 rgba(0, 0, 0, .2);
                box-shadow: 2px -2px 2px 0 rgba(0, 0, 0, .2)
            }

            .chat_invitation_close {
                display: none;
                font-family: nc-nav;
                top: -25px;
                border: 1px solid #fff;
                border-radius: 20px;
                left: 0;
                width: 20px;
                height: 20px;
                background: rgba(0, 0, 0, .2)
            }

            .chat_invitation_count {
                bottom: 25px;
                background: #B8513A;
                border-radius: 20px;
                right: -80px;
                width: 25px;
                height: 25px;
                z-index: 50001
            }

            .chat_invitation_close.show {
                display: block
            }

            .drift_up_60 .chat_invitation {
                bottom: 100px;
            }

            .chat_invitation {
                transition: all .5s;
            }
        </style>

        <script type="text/html" id="chat_invitation_tmpl">
    <div class="chat_invitation">
        <span class="chat_invitation_arrow"></span>
        <span class="chat_invitation_count">1</span>
        <span class="chat_invitation_close ">v</span>
    </div>
</script>

        <script type="text/html" id="chat-welcome">
    <div class="chat_welcome">
        <div class="chat_welcome_header">
            <div class="chat_welcome_agent">
                <div class="avatar-container"><span class="avatar-image" style="background-image: url('/images/chat/avatar-image.png')"></span></div>
                <div class="agent-name">Hockerty</div>
            </div>
            <div class="chat_welcome_message_head">Hello! Ready to get you next garment made to your exact measurements?</div>
            <div class="chat_welcome_message"></div>
        </div>
        <form class="chat_welcome_form">
            <div class="textarea">
                <textarea placeholder="Write your message..."></textarea>
            </div>
            <div class="submit">
                <button tabindex="1000">
                    <svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.975.38c.014.043.02.087.024.132v.06c-.004.048-.014.095-.03.14-.006.017-.007.032-.014.046L7.252 12.692c-.09.19-.28.308-.49.308-.216-.002-.406-.127-.493-.32l-.537-3.41C5.56 8.18 4.55 7.1 3.478 6.86l-3.2-.72c-.18-.1-.287-.293-.277-.5.012-.206.138-.39.328-.47L12.248.04 12.3.026c.05-.015.098-.025.148-.026.02 0 .038 0 .058.003.046.004.09.013.132.028l.055.02c.056.027.11.06.154.107.053.053.085.11.11.168.008.018.013.036.018.055z"
                              fill-rule="evenodd"></path>
                    </svg>
                    <span>Send</span></button>
            </div>
        </form>
    </div>
</script>

        <script type="text/javascript">

            ready_callbacks.push(function () {

                var lang = 'en';
                var ladeskButton = 0;
                var chatbot = 1;
                var customer = window.getStoredCustomer();
                var ladeskButtonCallback = 0;

                var linkJS = "https://d2w9m16hs9jc37.cloudfront.net/js/chat/container.js?v=1562663798";
                var linkCSS = "https://d2w9m16hs9jc37.cloudfront.net/css/chat/container.css?v=1562663798";


                var chat_config = {
                    server: 'https://chat.hockerty.com',
                    i18n: {
                        welcome: "Hi! Can I help you?",
                        offline: "Ask us anything. We are available.",
                        onlyenglish: "There are not advisors available in your language, but you can be attended in English. If not, you can leave your message in your language and we’ll get back to you as soon as possible"
                    }
                };

                var ChatHandler = {
                    ladesk_button: null,
                    chat_config: null,
                    chatbot: null,
                    chatEnabled: null,
                    customer: null,
                    Init: function (ladesk_button, chatbot, chat_config, customer) {
                        this.customer = customer;
                        this.ladesk_button = ladesk_button;
                        this.chat_config = chat_config;
                        this.chatbot = chatbot;
                        this.chatEnabled = null;

                        var currentTime = new Date();
                        var utcDateHour = currentTime.getUTCHours();
                        //var utcDateMinute = currentTime.getUTCMinutes();
                        var weekDay = currentTime.getUTCDay();

                        if (chatbot) {
                            if (this.chatEnabled == null) {
                                this.initChatBot();
                            }
                        }

                        if (ladesk_button) {
                            if (this.chatEnabled == null) {
                                this.initLadesk();
                            }
                        }
                    },

                    initLadesk: function () {
                    },

                    loadRemoteScript: function (sScriptSrc, cb) {
                        var oHead = document.getElementsByTagName("HEAD")[0];
                        var oScript = document.createElement('script');
                        oScript.type = 'text/javascript';
                        oScript.src = sScriptSrc;
                        oHead.appendChild(oScript);
                        if (typeof cb === "function") {
                            oScript.onload = cb;
                        }
                    },

                    loadRemoteStyle: function (sStyleSrc, cb) {
                        var oHead = document.getElementsByTagName("HEAD")[0];
                        var oScript = document.createElement('link');
                        oScript.rel = 'stylesheet';
                        oScript.href = sStyleSrc;
                        oHead.appendChild(oScript);
                        if (typeof cb === "function") {
                            oScript.onload = cb;
                        }
                    },

                    initChatBot: function () {
                        this.chatEnabled = 'chatBot';
                        var conversationID = localStorage.getItem("conversationID");
                        var that = this;
                        this.loadRemoteScript(linkJS, function () {
                            that.loadRemoteStyle(linkCSS, function () {
                                new ChatContainer(that.chat_config, conversationID);
                            });
                        });
                    }
                };

                ChatHandler.Init(ladeskButton, chatbot, chat_config, customer);
            });

        </script>
    </div>



    <script type="text/javascript">
        var localStorageUpdate = { "customer": { "id_shop_customer": "694767", "id_iso_currency": "AUD", "id_iso_lang": "en", "id_iso_unit": "iso", "fullname": "Dhfjfjd sh", "email": "nathan@gmail.com", "date_created": "2019-06-17 00:55:48", "customer_type": "customer", "customer_segment": "voyeur", "t4l_region": "en-au", "subscribe": "0", "t4l_credit": "0.00", "t4l_n_orders": "0", "t4l_samples": "0", "domain": "hockerty" }, "isAdmin": false };
    </script>
    <script type="text/javascript" src="https://d2w9m16hs9jc37.cloudfront.net/js/default.js?v=1562663798"
        charset="utf-8"></script>

    <script>
        $(document).ready(function () {
            name = 'status';
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.search);
            let status = (results !== null) ? results[1] || 0 : false;
            if (!status || (!!status && status == 'pending')) {
                $('.menu_options').find('.active').removeClass('active');
                $('.box[rel=pending]').addClass('active')
            } else if (!!status && status == 'process') {
                $('.menu_options').find('.active').removeClass('active');
                $('.box[rel=process]').addClass('active')
            } else if (!!status && status == 'history') {
                $('.menu_options').find('.active').removeClass('active');
                $('.box[rel=history]').addClass('active')
            }
        });
    </script>

    <script type="text/javascript">$(function () {
            for (var i = 0; i < ready_callbacks.length; i++) {
                try { ready_callbacks[i](); } catch (ex) { console.log(ex); }
            }
            if (typeof (afterJquery) == 'function') afterJquery();
        });</script>


    <script type="text/javascript">if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/js/cdn-service-worker.js?v=1562663798', { scope: '/' });
        }</script>

    <script type="text/html" id="promo_tmpl">
    <div class="mainblock promoblock_mgm">
        <div class="content">
            <a href="/en-au/customer/referral">Give $25 - Get $25</a>
        </div>
    </div>
</script>
    <script>

        // MGM - Banner
        if (!$('#promo_block_top').length) {
            var isSumissura = $('body').hasClass('woman');
            var href = window.location.href;

            if (href.indexOf('/checkout/') < 0 && !$('body').hasClass('woman_mobile_personalize') && !$('body').hasClass('personalize')) {
                if ($('.promoblock_mgm').length == 0) {
                    var mgm_customer = JSON.parse(localStorage.getItem('customer'));
                    if (mgm_customer) {
                        if (mgm_customer.t4l_n_orders > 0) {
                            var dataObject = { customer: mgm_customer };
                            var new_html = tmpl("promo_tmpl", dataObject);
                            if (isSumissura) {
                                $('div.body').prepend(new_html);
                            } else {
                                $('#body').prepend(new_html);
                            }
                        }
                    }
                }
            }
        }

    </script>
</body>

</html>