<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <%
        // message the validation
        if (messages.errors) {
        for (i = 0; i < messages.errors.length; i++) {
        %>
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Fail !</strong> <%= messages.errors[i].msg %>
        </div>
        <%
        }
        }

        // message the reason change password fail
        if (messages.reason_fail) {
        %>
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= messages.reason_fail %>
        </div>
        <%
        }

        // message if success
        if (messages.success) {
        %>
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= messages.success %>
        </div>
        <%
        }
        %>

        <h1>
            Store Detail
        </h1>
        <ol class="breadcrumb">
            <li><a href="/stores"><i class="fa fa-building"></i>Store List</a></li>
            <li class="active">Store Detail</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <form id="panel-update-store" enctype="multipart/form-data" action="/stores/<%= store.id %>"
                      method="post"
                      class="form-horizontal update-form">
                    <div class="col-md-5">
                        <div class="box box-primary">
                            <div class="box-header">

                                <h3 class="box-title">Store Basic Information</h3>
                                <hr>
                            </div>
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="type" class="col-sm-2 control-label">Store Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="Store Name" value="<%= store.name %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="address" name="address"
                                               placeholder="Store Address" value="<%= store.address %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="phone_number" class="col-sm-2 control-label">Phone Number</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="phone_number" name="phone_number"
                                               placeholder="Store Phone Number" value="<%= store.phone_number %>">
                                    </div>
                                </div>

                                <div class=" input-group bootstrap-timepicker timepicker">
                                    <label for="opening_time" class="col-sm-2 control-label">Opening Time</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control timepicker" id="opening_time"
                                               name="opening_time"
                                               value="<%= store.opening_time %>">
                                    </div>

                                    <label for="closing_time" class="col-sm-2 control-label">Closing Time</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control timepicker" id="closing_time"
                                               name="closing_time"
                                               value="<%= store.closing_time %>">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="image_url" class="col-sm-2 control-label">Upload Image</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="image_url" name="image_url">
                                        <p><i>Only image with jpeg is accepted</i></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="store_type" class="col-sm-2 control-label">Store Type</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2" id="store_type" name="store_type"
                                                multiple="multiple" data-placeholder="Select store type"
                                                style="width: 100%;">
                                            <% storeTypes.forEach(function(storeType) { %>
                                            <option
                                                    <% store.storeTypes.forEach(function(storeTypeItem) { %>
                                                    <% if(storeType.id == storeTypeItem.id){ %>selected="true"
                                                    <% } %>
                                                    <% }); %>
                                                    value="<%= storeType.id %>"><%= storeType.type %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 <% if(store.image_url == ""){ %>hidden <% } %>">
                                    <img id="imageUpload" class="img-responsive" src="<%= store.image_url %>"
                                         alt="<%= store.image_url %>"/>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" id="saveBtn" disabled class="btn bg-success btn-flat"><i
                                                    class="fa fa-save"></i>
                                            Save
                                        </button>
                                        <button type="button" id="resetBtn" disabled class="btn btn-danger btn-flat"><i
                                                    class="fa fa-repeat"></i> Reset
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                        </div>

                    </div>
                    <div class="col-md-7">
                        <div class="box">
                            <div class="box-header">

                                <h3 class="box-title">Store Location</h3>
                                <hr>
                            </div>
                            <div class="box-body">

                                <div id="targettingLocation-box">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Latitude</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="latitude"
                                                   name="latitude" readonly
                                                   value="<%= store.latitude %>">
                                        </div>

                                        <label class="col-sm-2 control-label">Longitude</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="longitude"
                                                   name="longitude" readonly
                                                   value="<%= store.longitude %>">
                                        </div>
                                    </div>
                                    <div class="searchLocation form-group">
                                        <div class="col-sm-offset-2 col-sm-4">
                                            <input type="text" class="form-control" id="searchLocationText"
                                                   placeholder="Key in address here">
                                        </div>
                                        <p>
                                            <small class="help-block">Use address search box and map below to find
                                                location.
                                            </small>
                                        </p>
                                    </div>

                                    <div id="googleMap"
                                         style="height: 380px; margin-top: 20px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Category List</h3>
                        <hr>
                        <p>Create new category here</p>
                        <div id="panel-create-category" class="clearfix">
                            <br>
                            <form action="/stores/<%= store.id %>/categories" method="post"
                                  class="form-horizontal">
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Category name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="Category Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn bg-maroon btn-flat"><i class="fa fa-save"></i>
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tableListCategories" class="table table-bordered table-striped dataTable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Category</th>
                                <th>Created At</th>
                                <th>Updated At</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% var i=1; store.categories.forEach(function(category) { %>
                            <tr>
                                <td><%= i++ %></td>
                                <td><%= category.name %></td>
                                <td>
                                    <%
                                        let createdDate = new Date(category.createdAt);
                                        let updatedDate = new Date(category.updatedAt);
                                    %>
                                    <%= createdDate.toLocaleString("en-US", {timeZone: "Asia/Ho_Chi_Minh"}) %>
                                </td>
                                <td>
                                    <%= updatedDate.toLocaleString("en-US", {timeZone: "Asia/Ho_Chi_Minh"}) %>
                                </td>
                                <td>
                                    <a href="/stores/<%= store.id%>/categories/<%= category.id%>" title="View Detail"
                                       class="btn bg-yellow btn-primary btn-flat"><span
                                                class="fa fa-search" aria-hidden="true"></span>
                                    </a>
                                    <a href="#" data-toggle="modal" data-id="<%= category.id %>"
                                       data-type="<%= category.name %>" title="Edit"
                                       class="confirmEditCategory btn btn-primary btn-flat"><span
                                                class="fa fa-edit" aria-hidden="true"></span>
                                    </a>
                                    <a href="#" data-toggle="modal" data-id="<%= category.id %>" title="Delete"
                                       class="confirmDelCategory btn btn-danger btn-flat"><span
                                                class="fa fa-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="confirm-edit-category" role="dialog">
    <form method="POST" action="/stores/<%= store.id %>/categories/" id="form-edit-category" class="form-horizontal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Edit Category</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Category</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name"
                                   placeholder="Store Type">
                        </div>
                    </div>
                    <p>Click on <b>"Yes"</b> to continue, <b>"No"</b> to cancel.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="exitModal" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="confirm-del-category" role="dialog">
    <form method="POST" action="/stores/<%= store.id %>/categories/" id="form-delete-category">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Confirm to delete category?</h3>
                </div>
                <div class="modal-body">
                    <input type="text" name="status" id="status" value="Deactivated" hidden="true">
                    Click on "Yes" to continue, "No" to cancel.
                </div>
                <div class="modal-footer">
                    <button type="button" id="exitModal" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </div>
            </div>
        </div>
    </form>
</div>