<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <%
        // message the validation
        if (messages.errors) {
        for (i = 0; i < messages.errors.length; i++) {
        %>
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Fail !</strong> <%= messages.errors[i].msg %>
        </div>
        <%
        }
        }

        // message the reason change password fail
        if (messages.reason_fail) {
        %>
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= messages.reason_fail %>
        </div>
        <%
        }

        // message if success
        if (messages.success) {
        %>
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= messages.success %>
        </div>
        <%
        }
        %>

        <h1>
            Employee List
        </h1>
        <br>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Employee Information</h3>
                        <hr>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tableListUsers" class="table table-bordered table-striped dataTable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone number</th>
                                <th>Full name</th>
                                <th>Gender</th>
                                <th>Date of birth</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% employees.forEach(function(user) { %>
                            <tr>
                                <td><%= user._id %></td>
                                <td><%= user.username %></td>
                                <td><%= user.email %></td>
                                <td><%= user.phone_number %></td>
                                <td><%= user.first_name %> <%= user.last_name %></td>
                                <td>
                                    <% if(user.gender == true) { %>
                                    Male
                                    <% } else { %>
                                    Female
                                    <% } %>
                                </td>
                                <td>
                                    <%
                                    if(user.dob != null && user.dob != ''){
                                        let date = new Date(user.dob);
                                    %>
                                    <%= date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() %>
                                    <%
                                    }
                                    %>
                                </td>
                                <td><%= user.role %></td>
                                <td>
                                    <span class="label label-danger">Deactivated</span>
                                </td>
                                <td>
                                    <a href="/admin/employees/<%= user._id %>" title="View Detail"
                                       class="btn btn-default"><span
                                                class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                                    <a href="#" data-toggle="modal" data-id="<%= user._id %>" title="Activate"
                                       class="confirmChangeEmployeeStatus btn btn-info"><span
                                                class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                </td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
    </section>
</div>


<div class="modal fade" id="confirm-deactive" role="dialog">
    <form method="POST" id="form-change-employee-status">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Confirm to Active this employee?</h3>
                </div>
                <div class="modal-body">
                    <input type="text" name="status" id="status" value=true hidden="true">
                    Click on "Yes" to continue, "No" to cancel.
                </div>
                <div class="modal-footer">
                    <button type="button" id="exitModal" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" id="changeEmployeeStatus" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </form>
</div>