<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <%
        // message the validation
        if (messages.errors) {
        for (i = 0; i < messages.errors.length; i++) {
        %>
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Fail !</strong>
            <%= messages.errors[i].msg %>
        </div>
        <%
        }
        }

        // message the reason change password fail
        if (messages.reason_fail) {
        %>
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= messages.reason_fail %>
        </div>
        <%
        }

        // message if success
        if (messages.success) {
        %>
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= messages.success %>
        </div>
        <%
        }
        %>

        <h1>
            Employee List
        </h1>
        <br>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Employee Information</h3>
                        <hr>
                        <p>Create new employee here</p>
                        <button type="button" class="btn bg-navy btn-flat" data-toggle="collapse" data-target="#panel-create-employee">Create
                            Employee
                        </button>

                        <div id="panel-create-employee" class="collapse clearfix">
                            <br>
                            <form id="panel-update-info" action="/admin/employees" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label">Username</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="username" name="username"
                                            placeholder="Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="first_name" class="col-sm-2 control-label">First name</label>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="first_name" name="first_name"
                                            placeholder="First name">
                                    </div>

                                    <label for="last_name" class="col-sm-2 control-label">Last name</label>

                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="last_name" name="last_name"
                                            placeholder="Last name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone_number" class="col-sm-2 control-label">Phone number</label>

                                    <div class="col-sm-4">
                                        <input type="tel" class="form-control" id="phone_number" name="phone_number"
                                            placeholder="Phone number">
                                    </div>

                                    <label for="email" class="col-sm-2 control-label">Email</label>

                                    <div class="col-sm-4">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="gender" class="col-sm-2 control-label">Gender</label>
                                    <div class="col-sm-4">
                                        <label class="radio-inline">
                                            <input type="radio" id="radioMale" value=true checked name="gender"
                                                placeholder="Gender">Male
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="radioFemale" value=false name="gender" placeholder="Gender">Female</label>
                                    </div>
                                    <label for="gender" class="col-sm-2 control-label">Role</label>
                                    <div class="col-sm-4">
                                        <label class="radio-inline">
                                            <input type="radio" id="radioStaff" value="Staff" checked name="role"
                                                placeholder="Staff">Staff
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="radioAdmin" value="Admin" name="role" placeholder="Admin">Admin
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="dob" class="col-sm-2 control-label">Date of birth</label>
                                    <div class="col-sm-4">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="datepicker form-control pull-right" id="dob" name="dob"
                                                placeholder="Date of birth">
                                        </div>
                                    </div>

                                    <label for="address" class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-4">
                                        <textarea rows="4" class="form-control" id="address" name="address" placeholder="Address"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn bg-maroon btn-flat"><i class="fa fa-save"></i>
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tableListUsers" class="table table-bordered table-striped dataTable">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Phone number</th>
                                    <th>Full name</th>
                                    <th>Gender</th>
                                    <th>Date of birth</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% employees.forEach(function(user, idx) { %>
                                <tr>
                                    <td>
                                        <%= idx + 1 %>
                                    </td>
                                    <td>
                                        <%= user.username %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <%= user.phone_number %>
                                    </td>
                                    <td>
                                        <%= user.first_name %>
                                        <%= user.last_name %>
                                    </td>
                                    <td>
                                        <% if(user.gender == true) { %>
                                        Male
                                        <% } else { %>
                                        Female
                                        <% } %>
                                    </td>
                                    <td>
                                        <%
                                    if(user.dob != null && user.dob != ''){
                                        let date = new Date(user.dob);
                                    %>
                                        <%= date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear() %>
                                        <%                                    }         %>
                                    </td>
                                    <td>
                                        <%= user.role %>
                                    </td>
                                    <td>
                                        <% if(user.status == true) { %>
                                        <span class="label label-primary ">Active</span>
                                        <% } else if(user.status == false) { %>
                                        <span class="label label-danger">Deactivated</span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <a href="/admin/employees/<%= user._id %>" title="View Detail" class="btn btn-default"><span
                                                class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                                        <% if(user.status == "Active" || user.status == "Busy") { %>
                                        <a href="#" data-toggle="modal" data-id="<%= user.id %>" title="Deactive" class="confirmChangeEmployeeStatus btn btn-danger"><span
                                                class="fa fa-trash" aria-hidden="true"></span></a>
                                        <% } %>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
    </section>
</div>


<div class="modal fade" id="confirm-deactive" role="dialog">
    <form method="POST" id="form-change-employee-status">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Confirm to deactivate employee?</h3>
                </div>
                <div class="modal-body">
                    <input type="text" name="status" id="status" value="Deactivated" hidden="true">
                    Click on "Yes" to continue, "No" to cancel.
                </div>
                <div class="modal-footer">
                    <button type="button" id="exitModal" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" id="changeEmployeeStatus" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </form>
</div>