<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <%
        // message the validation
        if (messages.errors) {
        for (i = 0; i < messages.errors.length; i++) {
        %>
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Fail !</strong> <%= messages.errors[i].msg %>
        </div>
        <%
        }
        }

        // message the reason change password fail
        if (messages.reason_fail) {
        %>
        <div class="alert alert-warning">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= messages.reason_fail %>
        </div>
        <%
        }

        // message if success
        if (messages.success) {
        %>
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= messages.success %>
        </div>
        <%
        }
        %>

        <h1>
            Store type List
        </h1>
        <br>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Discount Information</h3>
                        <hr>
                        <p>Create new discount type here</p>
                        <button type="button" class="btn bg-navy btn-flat" data-toggle="collapse"
                                data-target="#panel-create-discount">Create Discount
                        </button>
                        <div id="panel-create-discount" class="collapse clearfix">
                            <br>
                            <form id="panel-insert-discount" action="/admin/discounts" method="post"
                                  class="form-horizontal">
                                <div class="form-group">
                                    <label for="code" class="col-sm-2 control-label">Code</label>
                                    <div class="col-sm-4">
                                        <input type="text" required class="form-control" id="code" name="code"
                                               placeholder="Code">
                                    </div>
                                    <button type="button" class="btn btn-flat btn-success col-md-1" id="getCode">Generate</button>
                                </div>
                                <div class="form-group">
                                    <label for="percentage" class="col-sm-2 control-label">Percentage (%)</label>
                                    <div class="col-sm-4">
                                        <select required class="form-control" id="percentage" name="percent">
                                            <option disabled value="">Choose a percentage</option>
                                            <option value="10">10%</option>
                                            <option value="20">20%</option>
                                            <option value="30">30%</option>
                                            <option value="50">50%</option>
                                            <option value="70">70%</option>
                                        </select>
                                        <!-- <input type="number" required class="form-control" id="percentage" name="percentage"
                                               min="5" max="100" value="5" step="5" placeholder="Percentage"> -->
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="date_start" class="col-sm-2 control-label">Start Date</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control datepicker" id="date_start" name="date_start"
                                               placeholder="Start Date">
                                    </div>

                                    <label for="date_end" class="col-sm-2 control-label">Expire Date</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control datepicker" id="date_end" name="date_end"
                                               placeholder="Expire Date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn bg-maroon btn-flat"><i class="fa fa-save"></i>
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tableListDiscounts" class="table table-bordered table-striped dataTable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Code</th>
                                <th>Percentage</th>
                                <th>Start Date</th>
                                <th>Expire Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <% var i= 1; discounts.forEach(function(discount) { %>
                            <tr>
                                <td><%= i++ %></td>
                                <td><%= discount.code %></td>
                                <td><%= discount.percent %>%</td>
                                <td><%
                                        let startDate = new Date(discount.date_start);
                                        console.log(startDate.getMonth())
                                        let expireDate = new Date(discount.date_end);
                                    %><%= startDate.getDate() + "/" + (startDate.getMonth() + 1) + "/" + startDate.getFullYear() %></td>
                                <td><%= expireDate.getDate() + "/" + (expireDate.getMonth() + 1) + "/" + expireDate.getFullYear() %></td>
                                <td>
                                    <% if(startDate <= new Date() && expireDate >= new Date()) { %>
                                        Active
                                    <% } else if (startDate > new Date()) { %>
                                        Incoming
                                    <% } else if (expireDate < new Date()) { %>
                                        End
                                    <% } %>
                                </td>
                                <td>
                                    <a href="#" data-toggle="modal" data-id="<%= discount._id %>" title="Delete"
                                       class="confirmDelDiscount btn btn-danger"><span
                                                class="fa fa-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
    </section>
</div>

<div class="modal fade" id="confirm-del-discount" role="dialog">
    <form method="POST" id="form-delete-discount">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Confirm to delete discount?</h3>
                </div>
                <div class="modal-body">
                    Click on "Yes" to continue, "No" to cancel.
                </div>
                <div class="modal-footer">
                    <button type="button" id="exitModal" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </div>
            </div>
        </div>
    </form>
</div>